<div class="pb-80 main-news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h1">Новости и события</div>
            </div>
        </div>
        <div class="row main-news__wrap">
            <div class="col-lg-7 pr-0">
                <div class="main-news__image">
                    <img src="static/img/content/news.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 pl-0">
                <div class="main-news__list">
                    <div class="main-news__item">
                        <div class="h4 main-news__title">Петербургские активисты отчистили плитку дома Любищевой</div>
                        <div class="text3 main-news__date">Вчера</div>
                    </div>

                    <div class="main-news__item">
                        <div class="h4 main-news__title">Дом Бака: исследование тамбуров</div>
                        <div class="text3 main-news__date">16 декабря в 16:00</div>
                    </div>

                    <div class="main-news__item">
                        <div class="h4 main-news__title">Вместо старинной усадьбы — общежитие</div>
                        <div class="text3 main-news__date">16 декабря в 16:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
