<div class="main-video">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex main-video__title">
                    <div class="h1">Мы в Youtube</div>

                    <a href="#" class="link-line">Все ролики</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="main-video__item">
                            <div class="main-video__image">
                                <img src="static/img/content/video1.png" alt="">
                            </div>
                            <a href="#" class="h5">Внимание! Как похорошела Россия</a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="main-video__item">
                            <div class="main-video__image">
                                <img src="static/img/content/video2.png" alt="">
                            </div>
                            <a href="#" class="h5">Фонд Внимание объявляет войну варварам</a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="main-video__item">
                            <div class="main-video__image">
                                <img src="static/img/content/video3.png" alt="">
                            </div>
                            <a href="#" class="h5">Найти, спасти и сохранить: Фонд Внимание...</a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="main-video__item">
                            <div class="main-video__image">
                                <img src="static/img/content/video4.png" alt="">
                            </div>
                            <a href="#" class="h5">Внимание! Лето закончилось, работа...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                {{> blocks/follow-soc-projects}}
            </div>
        </div>
    </div>
</div>
