<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body>
        %=symbols=%

        <ul>
            <li>
                <a href="main.html">Главная</a>
            </li>
            <li>
                <a href="object-raising.html">Страница объекта (сбор средств)</a>
            </li>
            <li>
                <a href="object-page2.html">Страница объекта 2</a>
            </li>
            <li>
                <a href="object-page3.html">Страница объекта 3</a>
            </li>
            <li>
                <a href="object-page4.html">Страница объекта 4</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="donation.html">Пожертвование</a>
            </li>
            <li>
                <a href="news.html">Новости</a>
            </li>
            <li>
                <a href="kapremont.html">капремонт</a>
            </li>
        </ul>


        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
