<div class="sidebar-block sidebar-news">
    <div class="h3">Новости по теме</div>
    <a href="new.html" class="sidebar-news__item">
        <div class="sidebar-news__image">
            <img src="static/img/content/object6.png" alt>
        </div>

        <div class="sidebar-news__title">Дом купцов Поваляевых: воссоздание резьбы</div>
    </a>

    <a href="new.html" class="sidebar-news__item">
        <div class="sidebar-news__image">
            <img src="static/img/content/object2.png" alt>
        </div>

        <div class="sidebar-news__title">Дом купцов Поваляевых: воссоздание резьбы</div>
    </a>
</div>
