<div class="sidebar-block sidebar-info">
    <div class="sidebar-info__item">
        <div class="sidebar-info__count">600</div>
        <div class="text2">Человек пожертвовало на восстановление объекта</div>
        <a href="javascript:void(0)" class="link-line">Хочу помочь</a>
    </div>

    <div class="sidebar-info__item">
        <div class="sidebar-info__count">35</div>
        <div class="text2">Столько объектов мы спасли от разрушения</div>
        <a href="javascript:void(0)" class="link-line">Посмотреть</a>
    </div>
</div>
