.sidebar {
    padding-left: 15px;

    &-block {
        margin-bottom: 60px;
    }

    &-doc {
        .h3 {
            margin-bottom: 20px;
        }

        .link-download {
            margin-bottom: 19px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-info {
        &__item {
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }

            .text2 {
                color: $text-light;
                margin-bottom: 14px;
                max-width: 286px;
            }
        }

        &__count {
            font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
            font-size: 56px;
            line-height: 63px;
            color: $black-main-color;
            margin-bottom: 3px;
        }
    }

    &-news {
        .h3 {
            font-family: "FuturaDemiC", sans-serif;
            font-weight: 600;
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 30px;
        }
        &__item {
            margin-bottom: 30px;
            display: block;
            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                text-decoration: none;
                .sidebar-news__title {
                    color: $yellow-color;
                    text-decoration: none;
                }

                .sidebar-news__image {
                    opacity: 0.8;
                }
            }
        }
        &__image {
            width: 118px;
            height: 86px;
            overflow: hidden;
            position: relative;
            margin-bottom: 19px;
            transition: all 0.25s;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
            }
        }
        &__title {
            @extend %text2;
            max-width: 256px;
            text-decoration: none;
            color: $black-color2;
            transition: all 0.25s;
        }
    }

    &-video {
        .h3 {
            font-family: "FuturaDemiC", sans-serif;
            font-weight: 600;
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 30px;
        }
        &__item {
            margin-bottom: 30px;
            display: block;

            &:hover {
                text-decoration: none;
                .sidebar-video__title {
                    color: $yellow-color;
                    text-decoration: none;
                }
            }
        }
        &__image {
            width: 228px;
            height: 126px;
            overflow: hidden;
            position: relative;
            margin-bottom: 18px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
            }
        }
        &__title {
            @extend %text2;
            max-width: 221px;
            text-decoration: none;
            color: $black-color2;
            transition: all 0.25s;
        }
    }
}
