<div class="sidebar-block sidebar-video">
    <div class="h3">Мы в Youtube</div>
    <a href="javascript:void(0)" class="sidebar-video__item">
        <div class="sidebar-video__image">
            <img src="static/img/content/video1.png" alt>
        </div>

        <div class="sidebar-video__title">Внимание! Как похорошела Россия</div>
    </a>

    <a href="javascript:void(0)" class="sidebar-video__item">
        <div class="sidebar-video__image">
            <img src="static/img/content/video2.png" alt>
        </div>

        <div class="sidebar-video__title">Найти, спасти и сохранить: Фонд Внимание...</div>
    </a>

    <a href="video.html" class="link-line">Смотерть все ролики</a>
</div>
