<div class="sidebar-block sidebar-doc">
    <div class="h3">Документы</div>
    <a href="#" download="download" class="link-download"><span class="icon-download"></span>Смета</a>
    <a href="#" download="download" class="link-download"><span class="icon-download"></span>Развертка стены</a>
</div>
