// Common styles of the project

html, body {
    height: 100%;
    font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
}

.page {
    position: relative;
    padding-top: 60px;
    border-top: 1px solid $text-light2;

    &:before {
        content: '';
        display: block;
        height: 28px;
        width: 100%;
        background: linear-gradient(180deg, rgba(115, 115, 115, 0) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.05) 100%);
        transform: rotate(-180deg);
        position: absolute;
        top: 0;
        left: 0;
    }
}


* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

hr {
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 1px solid #D9DEE8;
}

.btn {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    display: inline-block;
    border-radius: 0;
    font-family: 'FuturaDemiС', sans-serif;

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }
}

.btn-main {
    background: $yellow-color;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: $black-main-color;
    padding: 14px 40px;
    border: 1px solid $yellow-color;
    transition: all 0.25s;
    height: 58px;

    &.btn-small {
        font-size: 16px;
        line-height: 20px;
        padding: 9px 30px;
        height: 40px;
    }

    &:hover {
        background-color: $yellow-color2;
        border-color: $yellow-color2;
    }
}

.btn-secondary {
    border: 1px solid #868E96;
    box-sizing: border-box;
    background-color: $white-color;
    color: $black-main-color;
    outline: none;
    padding: 14px 40px;
    @extend %h4;
    transition: all 0.25s;

    &:hover {
        background-color: $yellow-color;
        border-color: $yellow-color;
        color: $black-main-color;
    }

    &.btn-small {
        height: 40px;
        font-size: 16px;
        line-height: 20px;
        padding: 9px 20px;
    }
}

.filter-tab {
    border: 5px solid $gray-light-color;

    .nav-link {
        border: none;
        padding: 9px 43px;
        @extend %text2;
        background-color: $gray-light-color;
        color: $black-main-color;
        border-radius: 0;
        transition: all 0.25s;
        cursor: pointer;
        text-align: center;

        &:hover {
            color: $text-light;
        }

        &.active {
            background-color: $yellow-color;
            border: none;
            color: $black-main-color;

            &:hover {
                color: $black-main-color;
            }
        }
    }
}

.link-download {
    display: flex;
    align-items: center;
    color: $black-color2;
    @extend %text2;
    text-decoration: none;
    transition: all 0.25s;

    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: $yellow-color;

        span {
            //@include bg-svg($icon-download-hover);
        }
    }

    span {
        display: block;
        margin-right: 16px;
    }

    &.link-download-white {
        color: $white-color;

        span {
            //@include bg-svg($icon-download-white);
        }

        &:hover, &:focus, &:active {
            color: $yellow-color;

            span {
                //@include bg-svg($icon-download-white-hover);
            }
        }
    }
}


/*form*/
.form-group {
    margin-bottom: 12px;

    .form-control {
        border-radius: 0;
        border: 1px solid #D9DEE8;
        box-sizing: border-box;
        height: 48px;
        padding: 12px 14px;
        @extend %text2;
        color: $black-main-color;
        transition: all 0.25s;
        outline: none;

        &::placeholder {
            color: $text-light;
        }

        &:focus, &:active {
            box-shadow: none;
            outline: none;
            border-color: $yellow-color;
        }

        &.form-control-lg {
            height: 58px;
            padding: 17px 18px;
        }
    }
}

.twentytwenty-handle {
    height: 26px !important;
    width: 58px !important;
    margin-left: -31px !important;
    border-radius: 0 !important;
    background-color: $white-color;
    &:after {
        margin-top: 18px !important;
    }

    &:before {
        margin-bottom: 18px !important;
    }
}
.twentytwenty-left-arrow {
    margin-top: -4.5px !important;
    border: 5px inset transparent !important;
    border-right: 9px solid $black-color !important;
    margin-left: -30px !important;
}

.twentytwenty-right-arrow {
    margin-top: -4.5px !important;
    border: 5px inset transparent !important;
    border-left: 9px solid $black-color !important;
    margin-right: -30px !important;
}

