/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/

@font-face {
    font-family: 'FuturaBookС';
    src: url('../fonts/FuturaBookC.eot');
    src: url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaBookC.ttf') format('truetype'),
    url('../fonts/FuturaBookC.woff2') format('woff2'),
    url('../fonts/FuturaBookC.woff') format('woff'),
    url('../fonts/FuturaBookC.svg#FuturaBookC') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FuturaBook';
    src: url('../fonts/FuturaBook.eot');
    src: url('../fonts/FuturaBook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaBook.ttf') format('truetype'),
    url('../fonts/FuturaBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FuturaBookC-Italic';
    src: url('../fonts/FuturaBookC-Italic.eot');
    src: url('../fonts/FuturaBookC-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaBookC-Italic.ttf') format('truetype'),
    url('../fonts/FuturaBookC-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FuturaDemiС';
    src: url('../fonts/FuturaDemiC.eot');
    src: url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaDemiC.ttf') format('truetype'),
    url('../fonts/FuturaDemiC.woff') format('woff'),
    url('../fonts/FuturaDemiC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
