// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.icon-restore {
    //@include bg-svg($icon-restore);
}

.icon-whip-round {
    //@include bg-svg($icon-whip-round);
}

.icon-completed {
    //@include bg-svg($icon-completed);
}

.double-arrow {
    //@include bg-svg($double-arrow);
}

.icon-download {
    //@include bg-svg($icon-download);
}

.icon-raising-money {
    //@include bg-svg($icon-rub-circle);
}

.swiper-prev {
    //@include bg-svg($slider-prev);
    &:hover {
        //@include bg-svg($slider-prev-hover);
    }
}

.swiper-next {
    //@include bg-svg($slider-next);
    &:hover {
        //@include bg-svg($slider-next-hover);
    }
}

.swiper-prev-hover {
    //@include bg-svg($slider-prev-hover);
}

.swiper-next-hover {
    //@include bg-svg($slider-next-hover);
}

.soc-twit {
    //@include bg-svg($soc-twit);
}

.soc-ok {
    //@include bg-svg($soc-ok);
}

.soc-vk {
    //@include bg-svg($soc-vk);
}

.soc-telegram {
    //@include bg-svg($soc-telegram);
}

.soc-facebook {
    //@include bg-svg($soc-facebook);
}

.icon-play {
    //@include bg-svg($play);
}
