// File for scss-vars.
// For example: main colors, paddings and so on.


$white-color: #ffffff;
$yellow-color: #FDDD31;
$yellow-color2: #FFF200;
$black-color: #000000;
$black-color2: #333333;
$black-main-color: #212529;
$gray-light-color: #F5F6FA;
$gray-color2: #4F4F4F;
$text-light: #868E96;
$text-light2: #D9DEE8;
$link-color: #4A90E2;

%h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 48px;
    color: $black-main-color;
    font-family: 'FuturaDemiС', sans-serif;
}

h1, .h1 {
    @extend %h1;
}

%h2 {
    font-family: 'FuturaDemiС', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 36px;
}

h2, .h2 {
    @extend %h2;
}

%h3 {
    font-family: 'FuturaDemiС', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}

h3, .h3 {
    @extend %h3;
}

%h4 {
    font-family: 'FuturaDemiС', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: $black-main-color;
}

h4, .h4 {
    @extend %h4;
}

%h5 {
    font-family: 'FuturaDemiС', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $black-main-color;
}

h5, .h5 {
    @extend %h5;
}

%h6 {
    font-family: 'FuturaDemiС', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $black-main-color;
}

h6, .h6 {
    @extend %h6;
}

%text1 {
    font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
}

.text1 {
    @extend %text1;
}


%text2 {
    font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.text2 {
    @extend %text2;
}


%text3 {
    font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.text3 {
    @extend %text3;
}

%text4 {
    font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.text4 {
    @extend %text4;

    a:hover {
        text-decoration: none;
        color: $yellow-color;
    }
}

%general1 {
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
}

.general-text1 {
    @extend %general1;
}


%general2 {
    font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 44px;
}

.general-text2 {
    @extend %general2;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.text-light {
    color: $text-light !important;
}


.link-line {
    text-decoration: none;
    display: inline-block;
    align-self: baseline;
    @extend h5;
    padding-bottom: 1px;
    border-bottom: 4px solid $yellow-color;
    color: $black-main-color;
    transition: all 0.25s;

    &:hover {
        text-decoration: none;
        color: $yellow-color;
    }
}
