.footer {
    background: $gray-light-color;
    padding: 70px 0 74px 0;
    position: relative;

    &:before {
        content: '';
        height: 14px;
        width: 100%;
        background: $yellow-color;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .h4 {
        margin-bottom: 15px;
    }

    &__soc {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin-bottom: 0;

        li {
            display: block;
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }

        li a {
            height: 44px;
            width: 44px;
            flex-shrink: 0;
            border-radius: 50%;
            background-color: $black-color;
            color: $white-color;
            text-align: center;
            line-height: 44px;
            font-size: 25px;
            transition: all 0.25s;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: $yellow-color;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }

    &__contact {
        margin-top: 88px;

        .text3 {
            color: $text-light;
        }
    }

    &__mail {
        margin-right: 40px;
            color: $black-main-color !important;

        a {
            text-decoration: none;
            @extend %text3;
            color: $link-color;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
                color: $link-color;
            }
        }
    }
}
