<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="h4">Рассказать о фонде</div>
                {{> blocks/social}}
            </div>

            <div class="col-lg-5">
                <div class="h4">Мы в соцсетях</div>
                <ul class="footer__soc">
                    <li>
                        <a href="#"><i class="fab fa-odnoklassniki"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-vk"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-telegram-plane"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-12">
                <div class="d-flex footer__contact">
                    <div class="text3 footer__mail">Связаться:
                        <a href="mailto:mail@fondvnimanie.ru">mail@fondvnimanie.ru</a>
                    </div>
                    <div class="text3">© 2019 АНО фонд «Внимание»</div>
                </div>
            </div>
        </div>
    </div>
</div>
