<div class="page pt-0">
    <div class="kap-banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h1">Как не дать капремонту<br> испортить ваш исторический дом. Инструкция</div>
                </div>
                <div class="col-md-6">
                    <p>С 2014 года по всей России начала действовать программа капитального ремонта. Проблема ремонта
                        зданий в нашей стране стоит очень остро и требует решения, но капремонт наносит вред
                        историческому облику городов. Здания теряют свой облик, лишаются оригинальных входных дверей,
                        окон и витражей, плитки, лепнины.</p>
                </div>
                <div class="col-md-6">
                    <p>Во время ремонта собственники квартир имеют решающее право голоса! Вместе с участниками
                        общественного объединения «МойФасад» из Ростова-на-Дону мы составили инструкцию, которая поможет
                        правильно и вовремя отреагировать.</p>
                </div>

                <div class="col-12">
                    <a href="#" download="download" class="link-download link-download-white"><span
                        class="icon-download"></span>Инструкция в PDF</a>
                </div>
            </div>
        </div>
    </div>

    <div class="kap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="kap-aside sticky-top">
                        <div id="list-example" class="kap-menu">
                            <a class="list-group-item list-group-item-action" href="#kap1">Что в вашем доме сделают в рамках капремонта</a>
                            <a class="list-group-item list-group-item-action" href="#kap2">Участники процесса, включая вас</a>
                            <a class="list-group-item list-group-item-action" href="#kap3">Какие угрозы несет дому капремонт. Фасад</a>
                            <a class="list-group-item list-group-item-action" href="#kap4">Какие угрозы несет дому капремонт. Крыша</a>
                            <a class="list-group-item list-group-item-action" href="#kap5">Как спасти свой дом от этих угроз?</a>
                            <a class="list-group-item list-group-item-action" href="#kap6">Непонятный и внезапный ремонт. <br>Что делать?</a>
                            <a class="list-group-item list-group-item-action" href="#kap7">Общение со строительной компанией. Особенности</a>
                            <a class="list-group-item list-group-item-action" href="#kap8">Спецсчет</a>
                            <a class="list-group-item list-group-item-action" href="#kap9">Полезные ссылки</a>
                        </div>

                        <hr>

                        <a href="#" download="download" class="link-download"><span
                            class="icon-download"></span>Инструкция в PDF</a>
                    </div>
                </div>

                <div class="col-lg-7 scrollspy-example" data-spy="scroll" data-target="#list-example" data-offset="0">
                    <div id="kap1" class="kap-block">
                        <div class="h3">Что вам важно знать о капремонте</div>

                        <div class="d-flex kap__info-item">
                            <div class="kap__info-item--icon">
                                <img src="static/img/content/kap-info1.svg">
                            </div>
                            <div class="kap__info-item--text">Ремонт проводится за деньги собственников, которые мы
                                ежемесячно уплачиваем по квитанции
                            </div>
                        </div>

                        <div class="d-flex kap__info-item">
                            <div class="kap__info-item--icon">
                                <img src="static/img/content/kap-info2.svg">
                            </div>
                            <div class="kap__info-item--text">По жилищному кодексу за проведение капитального ремонта
                                <b>ответственность несут собственники</b>. Все решения по регламенту проведения
                                капремонта
                                должны принимать они, не управляющая компания
                            </div>
                        </div>

                        <div class="d-flex kap__info-item mb-80">
                            <div class="kap__info-item--icon">
                                <img src="static/img/content/kap-info3.svg">
                            </div>
                            <div class="kap__info-item--text">В каждом регионе есть свой фонд капитального ремонта. Фонд
                                накапливает деньги от взносов и организует проведение ремонта
                            </div>
                        </div>

                        <div class="h3">1. Что в вашем доме сделают в рамках капремонта</div>

                        <ol>
                            <li>инженерные системы электро-, тепло-, газо-, водоснабжения, водоотведения</li>
                            <li>лифтовое оборудование, лифтовые шахты</li>
                            <li>крышу</li>
                            <li>подвал</li>
                            <li>фасад</li>
                            <li>фундамент</li>
                        </ol>

                        <p><b>Ущерб облику здания могут нанести ремонт крыши и фасада, внутренним деталям — ремонт
                            подъезда!</b></p>
                        <p>В разных регионах могут быть дополнительные виды работ: например, в Москве по программе
                            капитального ремонта ремонтируют подъезды. Сначала необходимо ремонтировать крышу, потом —
                            фасад. Ремонтировать фасад раньше, чем выполнены работы по крыше, не имеет смысла. Текущая
                            кровля очень быстро приведет в негодность фасад. До ремонта подъезда нужно сделать ремонт
                            всех
                            инженерных систем.
                            Предложенная фондом капремонта этапность работ может быть неверной.
                        </p>
                    </div>

                    <div id="kap2" class="kap-block">
                        <div class="h3">2. Участники процесса, включая вас</div>

                        <div class="d-flex kap-process">
                            <div class="kap-process__item kap-process__item1 js-popover" data-toggle="popover"
                                 data-placement="bottom"
                                 data-content="Собственники на общем собрании выбирают уполномоченного за капремонт, могут самостоятельно запрашивать информацию в фонде капремонта или обращаться с жалобами. ">
                                <div class="kap-process__person">
                                    <img src="static/img/content/kap-per1.svg" alt="">
                                </div>
                                <div class="kap-process__title">Собственник</div>
                            </div>

                            <div class="kap-process__item kap-process__item2 js-popover" data-toggle="popover"
                                 data-placement="bottom"
                                 data-content="Фонд капремонта контролирует работу строительной компании, оформляет все необходимые документы.">
                                <div class="kap-process__person">
                                    <img src="static/img/content/kap-per2.svg" alt="">
                                </div>
                                <div class="kap-process__title">Фонд <br>Капремонта</div>
                            </div>

                            <div class="kap-process__item kap-process__item3 js-popover" data-toggle="popover"
                                 data-placement="bottom"
                                 data-content="Собственник может повлиять на фонд капремонта, фонд капремонта и строительную компанию">
                                <div class="kap-process__person">
                                    <img src="static/img/content/kap-per3.svg" alt="">
                                </div>
                                <div class="kap-process__title">Строительная компания</div>
                            </div>

                            <div class="kap-process__item kap-process__item4 js-popover" data-toggle="popover"
                                 data-placement="bottom"
                                 data-content="Уполномоченный контактирует с фондом капремонта и с представителями строительной компании.">
                                <div class="kap-process__person">
                                    <img src="static/img/content/kap-per1.svg" alt="">
                                </div>
                                <div class="kap-process__title">Уполномоченный</div>
                            </div>
                        </div>

                        <div class="h4">Обязанности собственника</div>
                        <ul>
                            <li>знать сроки проведения капремонта</li>
                            <li>найти информацию на сайте или запросить в фонде капремонта</li>
                            <li>обратить внимание на этапность работ по капремонту</li>
                            <li>обратить внимание на сроки проведения ремонта фасада, крыши и подъезда</li>
                            <li>связаться с активом дома и собрать общее собрание</li>
                            <li>на собрании выбрать виды работ для ремонта</li>
                            <li>выбрать уполномоченного из числа собственников</li>
                            <li>оформить решение по поводу ремонта в виде официального письма</li>
                            <li>оформить протокол общего собрания</li>
                            <li>отправить письмо и протокол в фонд капремонта</li>
                            <li>может запрашивать у фонда капремонта и строителей любую информацию, которая касается
                                ремонта
                            </li>
                        </ul>

                        <p class="mb-50">Если во время ремонта есть нарушения по срокам, объемам или качеству работ, —
                            претензии
                            нужно
                            сразу направлять в фонд капитального ремонта.</p>

                        <div class="h4">Обязанности фонда капремонта</div>

                        <ul>
                            <li>формирует график капремонта</li>
                            <li>проводит техническое обследование здания</li>
                            <li>составляет техническое задание на ремонт с учетом пожеланий собственников</li>
                            <li>рассчитывает стоимость работ</li>
                            <li>заключает договор со строительной организацией</li>
                            <li>размещает на сайте информацию о капремонте</li>
                            <li>оплачивает работу строителей, если качество работ удовлетворяет собственников</li>
                            <li>предоставляет собственникам по первому запросу всю необходимую информацию о ремонте</li>
                        </ul>

                        <p class="mb-50">Региональный <b>фонд несет ответственность</b> за последствия неисполнения или
                            ненадлежащего
                            исполнения капитального ремонта.</p>
                        <div class="h4">Обязанности строительной компании</div>

                        <ul>
                            <li>на момент начала ремонта должна иметь утвержденную смету, график производства работ</li>
                            <li>согласовать цветовое решение с собственниками, если планируется окрашивание фасада</li>
                            <li>оформить цветовое решение в колерный паспорт</li>
                            <li>утвердить колерный паспорт в управлении города</li>
                            <li>до начала работ должна разместить паспорт объекта с информацией о видах работ, названием
                                организации, заказчиком, куратором объекта, сроках начала и сроках выполнения
                            </li>
                            <li>по архитектуре</li>
                        </ul>

                        <p class="mb-50">Если во время ремонта у вас возникают сомнения в действиях строительной
                            компании,
                            привлекайте
                            независимых экспертов. </p>

                        <div class="h4">Обязанности уполномоченного</div>
                        <ul>
                            <li>принимает работы по ремонту</li>
                            <li>без его подписи фонд капремонта не может оплатить работу строителей</li>
                            <li>имеет право контролировать процесс ремонта</li>
                            <li>согласовывает со всеми собственниками выбор цвета для здания</li>
                        </ul>

                        <a href="#" class="d-flex kap-news">
                            <div class="kap-news__image">
                                <img src="static/img/content/kapnew.png">
                            </div>

                            <div>
                                <div class="kap-news__type"><span>Читайте кейс</span></div>
                                <div
                                    class="h4">
                                    <span>Некому доверить: как взять капремонт в своем доме под контроль</span></div>
                            </div>
                        </a>

                        <p>Во время капитального ремонта за работой строителей нужно следить очень внимательно. Если
                            человек, которого выбрали уполномоченным, с этим не справляется, не нужно ждать, берите
                            инициативу в свои руки, запрашивать документы и направлять жалобы имеет право любой
                            собственник.</p>
                    </div>

                    <div id="kap3" class="kap-block">
                        <div class="h3">3. Какие угрозы несет дому капремонт. Фасад</div>
                        <p>Вот несколько важных моментов, которые стоит знать, если в вашем доме планируется капремонт
                            фасада.</p>
                        <div class="h4">Оштукатуривание</div>
                        <p>Здание лучше сохранить в первоначальном виде. Кирпичные фасады — архитектурная особенность
                            конца 19 века, отражающая дух времени. В советский период некоторые дореволюционные
                            кирпичные фасады были окрашены, но во время ремонта необходимо настаивать на расчистке и
                            восстановлении изначального облика. </p>

                        <div class="build__result">
                            <div class="build__result--images">
                                <img src="static/img/content/kap123.jpg">
                                <img src="static/img/content/kap124.jpg">
                            </div>
                            <p>Дореволюционное кирпичное здание до и после ремонта. На фото пример правильного подхода
                                к такому фасаду: кирпич аккуратно очищен, кладка имеет равномерный цвет, нет следов
                                механических повреждений.</p>
                        </div>

                        <p>Чтобы определить состояние кирпичной кладки, необходимо сделать тестовую расчистку участка
                            фасада. Если строители уверяют, что кладка в плохом состоянии и необходимо оштукатуривание,
                            обратитесь к независимому специалисту. Строители потенциально заинтересованы в
                            оштукатуривании, поэтому могут убеждать вас в удобном для них варианте. </p>
                        <div class="kap-important">Оштукатуривание кирпичной кладки дворового фасада так же во время
                            ремонта не требуется, если нет глубоких трещин. Строители часто настаивают на таком виде
                            работ, потому что это позволяет заработать больше во время ремонта. (Если мы пишем про
                            кирпичную кладку, то подразумевается, что кирпич не был оштукатурен)
                        </div>
                        <p class="mb-50">Для расчистки кирпича лучше всего применять мягкую пескоструйную технологию.
                            После
                            расчистки
                            кирпичный фасад нужно покрыть специальным гидрофобным покрытием; убедитесь, что этот вид
                            работ включен в смету ремонта. </p>
                        <div class="h4">Плохой ремонт кирпичного фасада</div>
                        <p class="mb-50">На фасаде не должно быть пятен и следов строительных материалов, грубых
                            механических
                            следов расчистки. Оштукатуривание боковых частей кирпичному зданию не требуется!</p>

                        <div class="build__slider">
                            <div class="swiper-container kap-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" data-text="Оштукатуренный торец (боковая часть здания) — бессмысленная
                                трата ваших денег">
                                        <img src="static/img/content/kap1/1.png">
                                    </div>
                                    <div class="swiper-slide"
                                         data-text="На фасаде не должно быть пятен, следов строительных материалов">
                                        <img src="static/img/content/kap1/2.png">
                                    </div>
                                    <div class="swiper-slide"
                                         data-text="На кирпиче не должно быть механических следов расчистки, такие следы похожи на насечки (пример на фото)">
                                        <img src="static/img/content/kap1/3.png">
                                    </div>
                                    <div class="swiper-slide"
                                         data-text="Поверхность кирпичной кладки после правильно выполненной очистки — ровная, без повреждений">
                                        <img src="static/img/content/kap1/4.png">
                                    </div>
                                </div>
                            </div>

                            <div class="build__slider--info">Оштукатуренный торец (боковая часть здания) — бессмысленная
                                трата ваших денег
                            </div>

                            <div class="swiper-pagination kap-pagination"></div>

                            <div class="swiper-button-prev kap-button-prev"></div>
                            <div class="swiper-button-next kap-button-next"></div>
                        </div>

                        <div class="kap-important">Советским кирпичным зданиям оштукатуривание также не требуется. Этот
                            вид работ имеет смысл в крайнем случае, если кирпичная кладка в очень плохом состоянии, что
                            бывает очень редко.
                        </div>

                        <div class="h4">Применение декоративной штукатурки «короед»</div>

                        <p>Искажает архитектурный облик, делает фасад плоским и грубым, здание теряет историческую
                            ценность.
                        </p>
                        <p>Штукатурная поверхность после ремонта должна соответствовать примененной до ремонта. На
                            большинство дореволюционных зданий наносилась гладкая штукатурка, фактурно выделялись только
                            отдельные участки в качестве декоративного приема. </p>

                        <div class="kap-important">Сплошное фактурное оштукатуривание не характерно для исторических
                            зданий. Неприемлема фактурная штукатурка и для зданий советского периода.
                        </div>

                        <div class="build__slider">
                            <div class="swiper-container kap-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"
                                         data-text="Штукатурка «короед» имитирует поврежденную жуком-короедом поверхность, поэтому имеет такое название">
                                        <img src="static/img/content/kap2/1.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Фрагмент фасада вблизи — штукатурка «короед»">
                                        <img src="static/img/content/kap2/2.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Фрагмент фасада вблизи — штукатурка «короед»">
                                        <img src="static/img/content/kap2/3.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Фрагмент фасада вблизи — штукатурка «короед»">
                                        <img src="static/img/content/kap2/4.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Фрагмент фасада вблизи — штукатурка «короед»">
                                        <img src="static/img/content/kap2/5.png">
                                    </div>
                                </div>
                            </div>

                            <div class="build__slider--info">Штукатурка «короед» имитирует поврежденную жуком-короедом
                                поверхность, поэтому имеет такое название
                            </div>

                            <div class="swiper-pagination kap-pagination"></div>

                            <div class="swiper-button-prev kap-button-prev"></div>
                            <div class="swiper-button-next kap-button-next"></div>
                        </div>

                        <p>Кроме нарушения исторической достоверности и эстетики здания, есть еще один важный аргумент
                            против фактурной штукатурки «короед». Из-за неровной поверхности <b>она впитывает грязь,
                                фасад
                                быстро приобретает неопрятный вид.</b>
                        </p>
                        <p class="mb-50"><b>Строители отдают предпочтение фактурной штукатурке при составлении сметы по
                            двум
                            причинам:</b>
                            1) это дорогой вид работ, 2) для такого оштукатуривания не нужны высококвалифицированные
                            рабочие. Фактурность штукатурки скрывает неровности при выполнении ремонта.</p>
                        <div class="h4">Выбор цвета</div>
                        <p class="mb-50">Часто во время капитального ремонта строительная компания выбирает цветовую
                            палитру, которая не учитывает исторического облика здания и меняет его до
                            неузнаваемости. </p>

                        <div class="build__result">
                            <div class="build__result--images">
                                <img src="static/img/content/kap21.jpg">
                                <img src="static/img/content/kap22.jpg">
                            </div>
                            <p>После ремонта здание окрашено с использованием цветовой схемы, которая абсолютно не
                                соответствует изначальному облику.</p>
                        </div>

                        <div class="kap-important">Строители должны при разработке цветового решения учесть мнение
                            жильцов.
                        </div>

                        <div class="build__result">
                            <div class="build__result--images">
                                <img src="static/img/content/kap31.jpg">
                                <img src="static/img/content/kap32.jpg">
                            </div>
                            <p>До ремонта белым цветом был выкрашен только рельеф, опоясывающий окна, и филенка
                                карнизного пояса. После ремонта белым цветом выделили еще и лепнину над окнами и этим
                                исказили оригинальный исторический облик фасада.</p>
                        </div>

                        <p class="mb-50">В строительных организациях не всегда есть квалифицированный архитектор,
                            поэтому при
                            выборе
                            цветового решения здания <b>лучше посоветоваться с экспертом-архитектором.</b></p>
                        <div class="h4">Некачественное восстановление лепных элементов</div>
                        <div class="content__image">
                            <img src="static/img/content/kap-img-3.png" alt="" class="img-fluid">
                            <p>Утраченные элементы строители заменили гипсовыми слепками из донышка пластиковой
                                бутылки</p>
                        </div>

                        <div class="h4">Уничтожение лепных элементов</div>
                        <div class="build__slider">
                            <div class="swiper-container kap-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"
                                         data-text="Во время ремонта строители часто не восстанавливают сложные декоративные элементы">
                                        <img src="static/img/content/kap3/1.png">
                                    </div>
                                    <div class="swiper-slide"
                                         data-text="После ремонта большая часть лепнины может исчезнуть или получить упрощенную форму">
                                        <img src="static/img/content/kap3/2.png">
                                    </div>
                                    <div class="swiper-slide"
                                         data-text="Пример отношения строителей к декоративным деталям фасада (фото до ремонта, и фото после ремонта)">
                                        <img src="static/img/content/kap3/3.png">
                                    </div>
                                    <div class="swiper-slide"
                                         data-text="Пример отношения строителей к декоративным деталям фасада (фото до ремонта, и фото после ремонта)">
                                        <img src="static/img/content/kap3/4.png">
                                    </div>
                                </div>
                            </div>

                            <div class="build__slider--info">Во время ремонта строители часто не восстанавливают сложные
                                декоративные элементы
                            </div>

                            <div class="swiper-pagination kap-pagination"></div>

                            <div class="swiper-button-prev kap-button-prev"></div>
                            <div class="swiper-button-next kap-button-next"></div>
                        </div>

                        <div class="h4">Неровно выведенные элементы</div>
                        <div class="build__slider">
                            <div class="swiper-container kap-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"
                                         data-text="На фото — объект культурного наследия, во время капремонта строители грубо исказили геометрию декоративных элементов фасада">
                                        <img src="static/img/content/kap4/1.png">
                                    </div>
                                    <div class="swiper-slide"
                                         data-text="Пример ремонта исторического здания без охранного статуса - декоративные элементы над окнами выведены грубо, под окнами после ремонта остались ничем не восполненные утраты.">
                                        <img src="static/img/content/kap4/2.png">
                                    </div>
                                </div>
                            </div>

                            <div class="build__slider--info">На фото — объект культурного наследия, во время капремонта
                                строители грубо исказили геометрию декоративных элементов фасада
                            </div>

                            <div class="swiper-pagination kap-pagination"></div>

                            <div class="swiper-button-prev kap-button-prev"></div>
                            <div class="swiper-button-next kap-button-next"></div>
                        </div>

                        <div class="h4">Замена окон</div>

                        <p class="mb-50">По программе капитального ремонта фасада оригинальные подъездные окна часто
                            меняют на пластиковые стеклопакеты. Ремонт деревянных окон обычно не предусмотрен по
                            правилам этой программы, только замена. Вопрос их сохранения необходимо обсудить на общем
                            собрании собственников и включить этот пункт в текст ответного письма в фонд
                            капремонта. </p>

                        <div class="build__slider">
                            <div class="swiper-container kap-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" data-text="Оригинальные окна — декоративный элемент фасада. Сравните, как проигрывает внешний вид здания после установки обычных металлопластиковых стеклопакетов">
                                        <img src="static/img/content/kap5/1.png">
                                    </div>
                                    <div class="swiper-slide" data-text="После ремонта изначальную расстекловку деревянных рам часто заменяют на несуразные пластиковые окна">
                                        <img src="static/img/content/kap5/2.png">
                                    </div>
                                </div>
                            </div>

                            <div class="build__slider--info">Оригинальные окна — декоративный элемент фасада. Сравните,
                                как проигрывает внешний вид здания после установки обычных металлопластиковых
                                стеклопакетов
                            </div>

                            <div class="swiper-pagination kap-pagination"></div>

                            <div class="swiper-button-prev kap-button-prev"></div>
                            <div class="swiper-button-next kap-button-next"></div>
                        </div>

                        <p class="mb-50">В случае, если окна в очень плохом состоянии и соседи не готовы тратить
                            дополнительные средства на их ремонт, настаивайте на том, чтобы новые окна повторяли рисунок
                            оригинальных.
                        </p>
                        <div class="content__image">
                            <img src="static/img/content/kap-img-4.png" alt="" class="img-fluid">
                            <p>Оригинальные окна с интересным рисунком можно увидеть даже в простых советских
                                постройках</p>
                        </div>

                        <div class="h4">Замена дверей</div>
                        <p class="mb-50">По программе капитального ремонта фасада входная дверь также подлежит замене.
                            Часто оригинальная дверь находится в хорошем состоянии, но вместо нее появится дешевая
                            металлическая. Уточните, входит ли замена двери в ваш ремонт, обсудите этот вопрос на общем
                            собрании и внесите его в официальный ответ фонду капитального ремонта.</p>

                        <div class="content__image">
                            <img src="static/img/content/kap-img-5.png" alt="" class="img-fluid">
                            <p>Если собственники не проявляют бдительность, вместо красивой оригинальной двери может
                                появиться безликий кусок железа</p>
                        </div>
                    </div>

                    <div id="kap4" class="kap-block">
                        <div class="h3">4. Какие угрозы несет дому капремонт. Крыша</div>
                        <p>Если кровля в плохом состоянии, ремонтировать в первую очередь необходимо именно ее. Ремонт
                            фасада имеет смысл только после завершения ремонта крыши.</p>
                        <div class="h4">Во время ремонта кровли могут возникнуть следующие ситуации:</div>
                        <ol>
                            <li>Строители могут не установить вовремя новую кровлю.
                            </li>
                            <li>После окончания ремонта на крыше не должно быть дыр и щелей. Обшивка крыши хорошо
                                закреплена, иначе сильный порыв ветра может ее оторвать, как на фото ниже.
                            </li>
                            <li>Рабочие могут вмонтировать крепления водосточных труб в лепной декор.</li>
                            <li>Рабочие могут грубо исказить внешний вид кровли.</li>
                        </ol>
                        <div class="build__slider">
                            <div class="swiper-container kap-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" data-text="Часть обшивки крыши после ремонта оторвало порывом ветра">
                                        <img src="static/img/content/kap6/1.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Аттик и карниз, полностью зашитые металлом ">
                                        <img src="static/img/content/kap6/2.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Аттик исторического здания  ">
                                        <img src="static/img/content/kap6/3.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Карнизы сбивают, упрощают, обшивают металлом">
                                        <img src="static/img/content/kap6/4.jpg">
                                    </div>
                                    <div class="swiper-slide" data-text="Слуховые окна на крыше — оригинальные заменяют на дешевый металлопластик">
                                        <img src="static/img/content/kap6/5.jpg">
                                    </div>
                                </div>
                            </div>

                            <div class="build__slider--info">Часть обшивки крыши после ремонта оторвало порывом ветра
                            </div>

                            <div class="swiper-pagination kap-pagination"></div>

                            <div class="swiper-button-prev kap-button-prev"></div>
                            <div class="swiper-button-next kap-button-next"></div>
                        </div>
                    </div>

                    <div id="kap5" class="kap-block">
                        <div class="h3">5. Как спасти свой дом от этих угроз?</div>
                        <p>Если кровля в плохом состоянии, ремонтировать в первую очередь необходимо именно ее. Ремонт
                            фасада имеет смысл только после завершения ремонта крыши.</p>
                        <ul>
                            <li>Уточните сроки проведения ремонта. В этом может помочь инструкция ниже.</li>
                            <li>Примите участие в общем собрании.</li>
                            <li>Убедитесь, что решение общего собрания было оформлено в виде обращения и протокола.</li>
                            <li>Проверьте, что обращение и протокол были отправлены в фонд капремонта.</li>
                            <li>Убедитесь в том, что ваше коллективное заявление рассмотрено фондом.</li>
                            <li>Во время начала ремонта попросите у строителей смету.</li>
                            <li>Посмотрите, какие виды работ включены в смету.</li>
                            <li>Если пожелания собственников не учтены в смете, сразу обращайтесь в фонд капитального
                                ремонта.
                            </li>
                            <li>Если в смете указаны непонятные или лишние виды работ, также сразу обращайтесь в фонд
                                капремонта.
                            </li>
                            <li>Перед окрашиванием фасада попросите у строительной компании колерный паспорт.</li>
                            <li>Убедитесь, что финальное цветовое решение верное.</li>
                            <li>Документ должен быть подписан, если нет подписи — он не был утвержден в управлении
                                города по архитектуре.
                            </li>
                            <li>При возникновении нареканий к строительной компании сразу обращайтесь в фонд
                                капитального ремонта.
                            </li>
                            <li>Если есть претензии к строительной компании, убедитесь, что уполномоченный от
                                собственников не подписал акты приемки работ до того, как все проблемы устранены.
                            </li>
                        </ul>
                        <div class="kap-important">Если во время ремонта возникают проблемы, грубые нарушения, вам не
                            предоставляют необходимые документы, а фонд капитального ремонта не реагирует на обращения,
                            привлекайте СМИ!
                        </div>
                        <p>Узнать о сроках ремонта можно на сайте регионального фонда капремонта. Сайты этих организаций
                            устроены по-разному. Вот пример Ростовской области — информация выложена на главной
                            странице.</p>
                        <div class="build__slider">
                            <div class="swiper-container kap-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" data-text="Кликаем по ссылке, находим нужный населенный пункт">
                                        <img src="static/img/content/kap7/1.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Кликаем по ссылке, находим нужный населенный пункт">
                                        <img src="static/img/content/kap7/2.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Видим перечень адресов, находим свой дом, кликаем по ссылке и загружаем документ с предложениями">
                                        <img src="static/img/content/kap7/3.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Можно найти информацию с помощью вкладки Найти свой дом. Переходите на нее и вводите свой адрес">
                                        <img src="static/img/content/kap7/4.png">
                                    </div>
                                    <div class="swiper-slide" data-text=" Для каждого здания есть план-график работ">
                                        <img src="static/img/content/kap7/5.png">
                                    </div>
                                </div>
                            </div>

                            <div class="build__slider--info">Кликаем по ссылке, находим нужный населенный пункт
                            </div>

                            <div class="swiper-pagination kap-pagination"></div>

                            <div class="swiper-button-prev kap-button-prev"></div>
                            <div class="swiper-button-next kap-button-next"></div>
                        </div>

                        <p>В некоторых случаях найти информацию о ремонте будет не так просто. Если вам не удалось
                            разобраться самостоятельно, свяжитесь с фондом капремонта и запросите эти данные у них!
                            Каждый собственник имеет на это право.</p>
                    </div>

                    <div id="kap6" class="kap-block">
                        <div class="h3">6. Непонятный и внезапный ремонт. Что делать?</div>
                        <div class="kap-important">Часто инициаторами замены плитки, декоративных элементов, окон на
                            лестничных клетках и входных дверей бывают управляющие компании или ТСЖ.
                        </div>
                        <p>Если в вашем подъезде есть красивые декоративные детали, необходимо уточнить у управляющей
                            компании или ТСЖ, планируют ли они их замену. Далее направьте письмо с перечислением
                            деталей, замена которых не требуется, добейтесь официального ответа. В ответе должно быть
                            обозначено, что обращение получено, и замены не произойдет.</p>
                        <p>
                            Также необходимо свериться с информацией на сайте вашего местного фонда капитального ремонта
                            относительно планируемых видов работ и сроков, входит ли в список капремонта ремонт
                            подъезда, когда он будет проходить.
                        </p>
                        <div class="h4">Если вы стали свидетелем непонятных ремонтных работ, действовать необходимо
                            быстро:
                        </div>
                        <ol>
                            <li>Зафиксируйте происходящее с помощью фото и видео.</li>
                            <li>Остановите работы; выясните, на каком основании их проводят, кто инициатор.</li>
                            <li>Если вас не слушают или не хотят с вами говорить, вызывайте полицию.</li>
                        </ol>
                    </div>

                    <div id="kap7" class="kap-block">
                        <div class="h3">7. Общение со строительной компанией. Особенности</div>
                        <p><b>Строительная компания заинтересована в увеличении расходов на ремонт.</b> Вас могут
                            убеждать,
                            что
                            зданию необходима декоративная штукатурка, или в необходимости оштукатуривания кирпичного
                            фасада. Так может происходить еще и потому, что, к сожалению, строители не всегда являются
                            хорошими профессионалами и определенные виды работ им сделать проще. </p>
                        <div class="h4">Что важно знать во время общения со строителями:</div>
                        <ol>
                            <li>После определения строительной организации вся конкурсная документация должна быть
                                размещена на официальном сайте регионального фонда капитального ремонта.
                            </li>
                            <li>У строительной организации должна быть утвержденная смета, график производства работ,
                                утвержденный колерный паспорт с цветовой палитрой.
                            </li>
                            <li>До начала работ строительная компания должна разместить паспорт объекта с информацией о
                                видах работ, названием организации, заказчиком, куратором объекта, сроках начала и
                                сроках выполнения.
                            </li>
                            <li>Если во время ремонта у вас возникают сомнения в действиях строительной компании,
                                привлекайте независимых экспертов.
                            </li>
                            <li>Если во время ремонта возникают проблемы, грубые нарушения, вам не предоставляют
                                необходимые документы, а фонд капитального ремонта не реагирует на обращения,
                                привлекайте СМИ!
                            </li>
                        </ol>
                        <p>По закону строительная организация в течение 5 лет несет ответственность за качество ремонта.
                            Если в течение этого времени на здании лопнула штукатурка или появились любые другие
                            дефекты, строительная компания должна оперативно и бесплатно их устранить. При выявлении
                            дефектов необходимо обратиться в фонд капитального ремонта, зафиксировать их с
                            представителем фонда, составить акт. </p>
                    </div>

                    <div id="kap8" class="kap-block">
                        <div class="h3">8. Спецсчет</div>
                        <p>Кроме накопления средств в фонде капитального ремонта собственники могут перечислять их на
                            специальный счет в банке, открытый для конкретного многоквартирного дома. В такой ситуации
                            фонд капремонта не принимает участие в организации ремонта, собственники решают все вопросы
                            самостоятельно. </p>
                    </div>

                    <div id="kap9" class="kap-block">
                        <div class="h3">Полезные ссылки</div>
                        <p>К сожалению, во время капремонта не единичны случаи грубых нарушений. Незнание законов и
                            регламентов делает собственников уязвимыми. В этом разделе мы собрали основные документы,
                            которые помогут во время капитального ремонта.
                        </p>
                        <p>
                            <a href="#">Жилищный кодекс РФ</a> — описывает и регулирует все взаимодействия во время
                            капитального
                            ремонта.</p>
                        <p><a href="#">Руководство, как принимать работы</a> — просто и понятно в виде инфографики
                            описана
                            процедура
                            взаимодействия с фондом капитального ремонта и строителями.</p>
                        <p>
                            <a href="#">Методическое руководство по капитальному ремонту</a> — подробно описаны все
                            необходимые
                            действия
                            во время капитального ремонта, в том числе, как правильно собрать и провести общее собрание,
                            какие подготовительные процедуры для этого нужны, как вовлечь соседей, как правильно
                            оформить итоги собрания и направить их в фонд капитального ремонта, что такое спецсчет.
                        </p>
                        <p>На сайте каждого регионального фонда всегда выложены актуальные местные законы и полезные
                            материалы, на которые можно ссылаться в спорных ситуациях. Найти их можно чаще всего в
                            разделе <b>Для собственников.</b></p>
                    </div>

                    <div class="kap-block">
                        <div class="h4">Как перевести законы на человеческий язык</div>
                        <p>Разобраться в законодательстве помогут короткие информационные статьи на портале <a
                            href="#">Реформа
                            ЖКХ.</a></p>
                        <div class="build__slider">
                            <div class="swiper-container kap-swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" data-text="На главной странице — раздел Капитальный ремонт">
                                        <img src="static/img/content/kap8/1.png">
                                    </div>
                                    <div class="swiper-slide" data-text="Листаем вниз до заголовка Узнать подробнее. В этом разделе вся информация по капитальному ремонту оформлена в виде вопросов и емких ответов со ссылками на законы.">
                                        <img src="static/img/content/kap8/2.png">
                                    </div>
                                </div>
                            </div>

                            <div class="build__slider--info">На главной странице — раздел Капитальный ремонт
                            </div>

                            <div class="swiper-pagination kap-pagination"></div>

                            <div class="swiper-button-prev kap-button-prev"></div>
                            <div class="swiper-button-next kap-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
