.kap-banner {
    height: 608px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), url('../img/content/kap-banner.png');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 55px;
    color: $white-color;

    .h1 {
        color: $white-color;
        margin-bottom: 30px
    }

    .link-download {
        margin-top: 30px;
    }
}

.kap {
    padding-top: 50px;
    padding-bottom: 100px;

    .h3 {
        margin-bottom: 30px;
    }

    .h4 {
        margin-bottom: 30px;
    }

    ol {
        list-style: none;
        padding: 0;
        margin-bottom: 50px;
        counter-reset: myCounter;

        li {
            margin-bottom: 20px;
            @extend %text2;
            color: $text-light;
            display: flex;
            align-items: flex-start;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                counter-increment: myCounter;
                content: counter(myCounter);
                font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
                width: 22px;
                height: 22px;
                display: block;
                text-align: center;
                background: $yellow-color;
                border-radius: 50%;
                color: $black-color2;
                margin-right: 13px;
                margin-top: 2px;
                flex-shrink: 0;
                transition: all 0.25s;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 50px;

        li {
            margin-bottom: 20px;
            @extend %text2;
            color: $text-light;
            display: flex;
            align-items: flex-start;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: '';
                display: block;
                background-color: $yellow-color;
                height: 12px;
                width: 12px;
                flex-shrink: 0;
                margin-right: 22px;
                margin-top: 6px;
                border-radius: 50%;
            }
        }
    }

    p {
        @extend %text2;
        line-height: 28px;
        margin-bottom: 30px;
        color: $black-color2;
    }

    &-important {
        background-color: $gray-light-color;
        padding: 30px 50px 40px 50px;
        @extend %text2;
        line-height: 28px;
        margin-bottom: 50px;
        font-weight: bold;
    }

    &-aside {
        padding-right: 65px;
        top: 130px;

        hr {
            margin-bottom: 30px;
        }
    }

    &-block {
        margin-bottom: 80px;
    }


    &-menu {
        list-style: none;
        padding: 0;
        margin-bottom: 50px;
        counter-reset: myCounter;

        a {
            padding: 0 !important;
            border: none !important;
            background-color: transparent;
            margin-bottom: 20px;
            @extend %text2;
            color: $text-light;
            text-decoration: none;
            display: flex;
            align-items: flex-start;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                counter-increment: myCounter;
                content: counter(myCounter);
                font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
                width: 22px;
                height: 22px;
                display: block;
                text-align: center;
                border-radius: 50%;
                background-color: transparent;
                color: $text-light;
                margin-right: 13px;
                margin-top: 2px;
                flex-shrink: 0;
                transition: all 0.25s;
            }

            &:hover {
                background-color: transparent;
                color: $black-main-color;

                &:before {
                    background-color: $yellow-color;
                    color: $black-color;
                }
            }

            &.active {
                color: $black-main-color;
                background-color: transparent;

                &:before {
                    color: $black-color;
                    background-color: $yellow-color;
                }
            }
        }
    }

    &-news {
        background-color: $gray-light-color;
        padding: 30px 32px 36px 32px;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 50px;

        &:hover {
            text-decoration: none;

            .kap-news__type, .h4 {
                text-decoration: none;

                span {
                    border-bottom: 1px solid $yellow-color;
                }
            }
        }

        &__image {
            width: 203.66px;
            height: 135.29px;
            overflow: hidden;
            flex-shrink: 0;
            position: relative;
            margin-right: 30px;

            img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__type {
            margin-bottom: 14px;
            @extend %text2;
            color: $black-main-color;
            line-height: 22px;

            span {
                transition: all 0.25s;
                border-bottom: 1px solid transparent;
            }
        }

        .h4 {
            margin-bottom: 0;

            span {
                transition: all 0.25s;
                border-bottom: 1px solid transparent;
            }
        }
    }

    &-process {
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 60px;

        &__item {
            flex-shrink: 0;
            width: 160px;
            position: relative;
            margin-bottom: 50px;
        }

        &__item1, &__item2 {
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 88.7px;
                height: 10px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url("../img/content/kap-arrow1.svg");
                top: 35px;
                right: -72px;
                z-index: 1;
            }
        }

        &__item1 {
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 450.52px;
                height: 35px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url("../img/content/kap-arrow3.svg");
                top: -40px;
                left: 80px;
                z-index: 1;
            }
        }

        &__item4 {
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 13px;
                height: 45px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url("../img/content/kap-arrow2.svg");
                top: -60px;
                left: 0px;
                right: 0;
                margin: auto;
                z-index: 1;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 450px;
                height: 100px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url("../img/content/kap-arrow4.svg");
                bottom: 70px;
                right: -390px;
                margin: auto;
                z-index: 1;
            }
        }

        &__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            font-family: 'FuturaDemiС', sans-serif;
            color: $black-main-color;
            cursor: pointer;
            position: relative;
            z-index: 2;
        }

        &__person {
            margin: auto;
            width: 90px;
            position: relative;
            margin-bottom: 12px;

            img {
                width: 100%;
                position: relative;
                z-index: 2;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                border-radius: 50%;
                background-color: $yellow-color;
                width: 68.07px;
                height: 68.07px;
                top: 10px;
                left: -25px;
                z-index: 1;
            }
        }
    }

    &__info-item {
        align-items: flex-start;
        margin-bottom: 30px;

        &--icon {
            width: 68px;
            height: 68px;
            background-color: $yellow-color;
            position: relative;
            flex-shrink: 0;
            margin-right: 30px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                max-width: 38px;
                max-height: 38px;
            }
        }

        &--text {
            max-width: 430px;
            @extend %text2;
            color: $black-color2;
        }

        &.mb-80 {
            margin-bottom: 80px;
        }
    }

    .build__slider {
        margin-bottom: 100px;
        .swiper-slide {
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 60px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }

        .swiper-pagination {
            bottom: 20px;
            @extend %text3;
            color: $white-color;
        }

        .swiper-button-next, .swiper-button-prev {
            color: $white-color;
            transition: all 0.25s;

            &:hover, &:focus, &:active {
                color: $yellow-color;
                outline: none;
            }
        }

        &--info {
            @extend %text3;
            color: $text-light;
            margin-top: 19px;
        }
    }
}

.popover {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    padding: 20px 30px 25px 30px;
    max-width: 355px;

    .arrow {
        display: none;
    }

    &-body {
        padding: 0;
        font-size: 18px;
        line-height: 28px;
        font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
    }
}

.sticky-top {
    z-index: 10 !important;
}
