<div class="page about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about__title">
                    <div class="h1">О фонде</div>
                    <div>Внимание — благотворительный фонд сохранения исторического наследия в России. Мы оказываем
                        помощь в сборе средств, консультируем и помогаем спасти от разрушения объекты культурного
                        наследия нашей страны
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="about__video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IHS1SaJ8WCg" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="about__quote">
            <div class="row">
                <div class="col-12">
                    <div class="about__quote--wrap">

                        <div class="about__quote--img">
                            <img src="static/img/content//quote@2x.png" width="47px">
                        </div>
                        <div class="about__quote--text">Зодчество было главной летописью человечества</div>
                        <div class="about__quote--author">Виктор Гюго</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-12 pr-md-0 pr-15">
                <div class="about__goals-list">
                    <div class="h1">Цели и особенности</div>
                    <div class="d-flex about__goal">
                        <div class="about__goal--icon">
                            <img src="static/img/content/fond-icon1.svg" alt="">
                        </div>
                        <div class="about__goal--content">
                            <div class="h3">Наша цель</div>
                            <p>Сейчас в России отсутствует культура сохранения исторического наследия. В погоне за
                                сиюминутным комфортом или прибылью прорубаются двери в исторических фасадах, сбивается
                                лепнина, вешаются кондиционеры. Но запрос на изменение этой ситуации в российских
                                городах уже есть, и наша задача — сделать так, чтобы произошло это важное изменение
                                подхода к содержанию зданий и городских элементов</p>
                        </div>
                    </div>

                    <div class="d-flex about__goal">
                        <div class="about__goal--icon">
                            <img src="static/img/content/fond-icon2.svg" alt="">
                        </div>
                        <div class="about__goal--content">
                            <div class="h3">Как будем добиваться</div>
                            <p>Россия — огромная страна, и везде есть неравнодушные граждане, которые каждый день
                                наблюдают, как увядает их любимый город, квартал, дом. Наш фонд принимает заявки на
                                сайт от всех жителей. Мы помогаем собрать инициативную группу и, что самое главное,
                                собираем деньги на конкретный объект, восстановление которого мы внимательно
                                контролируем.</p>
                            <p>Мы применим весь наш опыт для создания структуры, способной быстро и эффективно
                                собирать средства и способствовать сохранению и восстановлению объектов</p>
                        </div>
                    </div>

                    <div class="d-flex about__goal">
                        <div class="about__goal--icon">
                            <img src="static/img/content/fond-icon3.svg" alt="">
                        </div>
                        <div class="about__goal--content">
                            <div class="h3">Экспертная оценка</div>
                            <p>Мы сформировали экспертный совет из людей, которые не только понимают важность сохранения
                                объектов архитектуры, но и знают, как это делать. С помощью их опыта и наших умений
                                организовывать процессы мы гарантируем, что все работы будут осуществляться максимально
                                качественно и каждый этап проекта будет документироваться и представляться широкой
                                публике. Мы можем и готовы масштабировать нашу деятельность, не упуская из вида важные
                                мелочи кропотливой и бережной реставрации</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="about__numbers">
                    <div class="h1">Фонд «Внимание» в цифрах</div>

                    <div class="about__numbers--wrap">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-3">
                                <div class="yellow-number">16</div>
                                <div>Открытых проектов</div>
                            </div>

                            <div class="col-lg-4">
                                <div class="yellow-number">401</div>
                                <div>Среднее пожертвование</div>
                            </div>

                            <div class="col-lg-3">
                                <div class="yellow-number">41 686</div>
                                <div>Поддержавших</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-lg-1 col-lg-3">
                                <div class="yellow-number">18</div>
                                <div>Завершенных проектов</div>
                            </div>

                            <div class="col-lg-4">
                                <div class="yellow-number">16 735 683</div>
                                <div>Собрано</div>
                            </div>

                            <div class="col-lg-3">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about__team">
            <div class="row">
                <div class="col-12">
                    <div class="h1">Экспертный совет</div>
                </div>

                <div class="col-lg-6">
                    <div class="nav nav-tabs about__tab" role="tablist">
                        <a class="nav-item nav-link active" id="about1-tab" data-toggle="tab" href="#about1" role="tab"
                           aria-controls="about1" aria-selected="true">
                            <div class="about__team--image">
                                <img src="static/img/content/team3.png" alt="">
                            </div>
                            <div class="about__team--name">Илья Варламов</div>
                        </a>

                        <a class="nav-item nav-link" id="about2-tab" data-toggle="tab" href="#about2" role="tab"
                           aria-controls="about2" aria-selected="false">
                            <div class="about__team--image">
                                <img src="static/img/content/team2.png" alt="">
                            </div>
                            <div class="about__team--name">Владимир Владимир</div>
                        </a>

                        <a class="nav-item nav-link" id="about3-tab" data-toggle="tab" href="#about3" role="tab"
                           aria-controls="about3" aria-selected="false">
                            <div class="about__team--image">
                                <img src="static/img/content/team1.png" alt="">
                            </div>
                            <div class="about__team--name">Максим Максим</div>
                        </a>
                        <a class="nav-item nav-link" id="about4-tab" data-toggle="tab" href="#about4" role="tab"
                           aria-controls="about4" aria-selected="false">
                            <div class="about__team--image">
                                <img src="static/img/content/team3.png" alt="">
                            </div>
                            <div class="about__team--name">Илья Варламов</div>
                        </a>

                        <a class="nav-item nav-link" id="about5-tab" data-toggle="tab" href="#about5" role="tab"
                           aria-controls="about5" aria-selected="false">
                            <div class="about__team--image">
                                <img src="static/img/content/team2.png" alt="">
                            </div>
                            <div class="about__team--name">Владимир Владимир</div>
                        </a>

                        <a class="nav-item nav-link" id="about6-tab" data-toggle="tab" href="#about6" role="tab"
                           aria-controls="about6" aria-selected="false">
                            <div class="about__team--image">
                                <img src="static/img/content/team1.png" alt="">
                            </div>
                            <div class="about__team--name">Максим Максим</div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="about1" role="tabpanel" aria-labelledby="about1-tab">
                            <div class="h3">Максим Косьмин</div>
                            <div class="text2 text-light">краевед, исследователь старого фонда, автор проекта «Старый
                                фонд» и инстаграм
                                блога @maax_sf (также известен тем, что нашел пропавшие двери дома Бака в Питере)
                            </div>
                            <div class="text2">Мой главный метод — культурная пропаганда: показывать людям внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов. Подобное
                                просвещение
                                приводит к тому, что мне пишут: «у нас в квартире лепнина, хотели перекрыть её натяжным
                                потолком, но наткнулись на блог и теперь реставрируем». Это самый важный результат
                            </div>

                            <div class="about__team--quote">Мой главный метод — культурная пропаганда: показывать людям
                                внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов.
                            </div>
                        </div>

                        <div class="tab-pane fade" id="about2" role="tabpanel" aria-labelledby="about2-tab">
                            <div class="h3">Максим Косьмин2</div>
                            <div class="text2 text2-light">краевед, исследователь старого фонда, автор проекта «Старый
                                фонд» и инстаграм
                                блога @maax_sf (также известен тем, что нашел пропавшие двери дома Бака в Питере)
                            </div>
                            <div class="text2">Мой главный метод — культурная пропаганда: показывать людям внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов. Подобное
                                просвещение
                                приводит к тому, что мне пишут: «у нас в квартире лепнина, хотели перекрыть её натяжным
                                потолком, но наткнулись на блог и теперь реставрируем». Это самый важный результат
                            </div>

                            <div class="about__team--quote">Мой главный метод — культурная пропаганда: показывать людям
                                внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов.
                            </div>
                        </div>

                        <div class="tab-pane fade" id="about3" role="tabpanel" aria-labelledby="about3-tab">
                            <div class="h3">Максим Косьмин3</div>
                            <div class="text2 text2-light">краевед, исследователь старого фонда, автор проекта «Старый
                                фонд» и инстаграм
                                блога @maax_sf (также известен тем, что нашел пропавшие двери дома Бака в Питере)
                            </div>
                            <div class="text2">Мой главный метод — культурная пропаганда: показывать людям внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов. Подобное
                                просвещение
                                приводит к тому, что мне пишут: «у нас в квартире лепнина, хотели перекрыть её натяжным
                                потолком, но наткнулись на блог и теперь реставрируем». Это самый важный результат
                            </div>

                            <div class="about__team--quote">Мой главный метод — культурная пропаганда: показывать людям
                                внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов.
                            </div>
                        </div>

                        <div class="tab-pane fade" id="about4" role="tabpanel" aria-labelledby="about4-tab">
                            <div class="h3">Максим Косьмин</div>
                            <div class="text2 text2-light">краевед, исследователь старого фонда, автор проекта «Старый
                                фонд» и инстаграм
                                блога @maax_sf (также известен тем, что нашел пропавшие двери дома Бака в Питере)
                            </div>
                            <div class="text2">Мой главный метод — культурная пропаганда: показывать людям внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов. Подобное
                                просвещение
                                приводит к тому, что мне пишут: «у нас в квартире лепнина, хотели перекрыть её натяжным
                                потолком, но наткнулись на блог и теперь реставрируем». Это самый важный результат
                            </div>

                            <div class="about__team--quote">Мой главный метод — культурная пропаганда: показывать людям
                                внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов.
                            </div>
                        </div>

                        <div class="tab-pane fade" id="about5" role="tabpanel" aria-labelledby="about5-tab">
                            <div class="h3">Максим Косьмин2</div>
                            <div class="text2 text2-light">краевед, исследователь старого фонда, автор проекта «Старый
                                фонд» и инстаграм
                                блога @maax_sf (также известен тем, что нашел пропавшие двери дома Бака в Питере)
                            </div>
                            <div class="text2">Мой главный метод — культурная пропаганда: показывать людям внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов. Подобное
                                просвещение
                                приводит к тому, что мне пишут: «у нас в квартире лепнина, хотели перекрыть её натяжным
                                потолком, но наткнулись на блог и теперь реставрируем». Это самый важный результат
                            </div>

                            <div class="about__team--quote">Мой главный метод — культурная пропаганда: показывать людям
                                внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов.
                            </div>
                        </div>

                        <div class="tab-pane fade" id="about6" role="tabpanel" aria-labelledby="about6-tab">
                            <div class="h3">Максим Косьмин3</div>
                            <div class="text2 text2-light">краевед, исследователь старого фонда, автор проекта «Старый
                                фонд» и инстаграм
                                блога @maax_sf (также известен тем, что нашел пропавшие двери дома Бака в Питере)
                            </div>
                            <div class="text2">Мой главный метод — культурная пропаганда: показывать людям внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов. Подобное
                                просвещение
                                приводит к тому, что мне пишут: «у нас в квартире лепнина, хотели перекрыть её натяжным
                                потолком, но наткнулись на блог и теперь реставрируем». Это самый важный результат
                            </div>

                            <div class="about__team--quote">Мой главный метод — культурная пропаганда: показывать людям
                                внутренности
                                старых домов, рассказывать о них, добавлять к этому истории жильцов.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> blocks/other-objects}}

{{> blocks/progress-block}}

<div class="anonymously">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="h1">Большинство жертвователей остаётся анонимными</div>
                <div class="h3 anonymously__text">Но есть и те, кто согласился показать себя. Вы тоже можете попасть в
                    почетный список
                    неравнодушных
                </div>

                <a href="javascript:void(0)" class="link-line">Узнать больше</a>
            </div>
            <div class="col-lg-4">
                <div class="anonymously__image">
                    <img src="static/img/content/anonymously.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="requisites">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h1">Реквизиты и учредительные документы</div>

                <div class="requisites__info">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-12">
                            <p>Автономная некоммерческая организация сохранения культурного наследия «Внимание»</p>
                            <p>Юридический адрес:<br>1111123, Москва, Плеханова, 4а, офис 43в</p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-12">
                            <div class="requisites__table">
                                <div class="requisites__table--row"><span>ОГРН</span>1187700007472</div>
                                <div class="requisites__table--row"><span>ИНН</span>7720423186</div>
                                <div class="requisites__table--row"><span>КПП</span>772001001</div>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" download="" class="link-download"><span class="icon-download"></span>Свидетельство о
                    внесении в единый государственный реестр юридических лиц</a>
                <a href="#" download="" class="link-download"><span class="icon-download"></span>Свидетельство о
                    постановке на учет в налоговом органе (ИНН)</a>
                <a href="#" download="" class="link-download"><span class="icon-download"></span>Публичная оферта о
                    заключении договора пожертвования</a>
            </div>
        </div>
    </div>
</div>

