.about {
    &__video {
        margin-bottom: 48px;
        position: relative;
        padding-bottom: 43%;

        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }

    &__quote {
        margin-bottom: 80px;
        &--wrap {
            border-top: 1px #e1e1e1 solid;
            border-bottom: 1px #e1e1e1 solid;
            padding: 35px 0;
            text-align: center;
            color: #000;
            font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
        }
        &--img {
            text-align: center;
            margin-bottom: 15px;
        }

        &--text {
            font-size: 24px;
            font-weight: bold;
            font-style: italic;
        }

        &--author {
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            margin-top: 10px;
        }
    }

    &__title {
        max-width: 600px;
        margin-bottom: 60px;

        .h1 {
            margin-bottom: 20px;
        }
    }

    &__goals-list {
        padding-bottom: 50px;

        .h1 {
            margin-bottom: 50px;
            line-height: 54px;
            color: $black-color;
        }
    }

    &__goal {
        align-items: flex-start;
        margin-bottom: 50px;

        &--icon {
            width: 68px;
            height: 68px;
            flex-shrink: 0;
            margin-right: 30px;
            background: $yellow-color;
            position: relative;

            img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                max-width: 52px;
                max-height: 52px;
            }
        }

        &--content {
            .h3 {
                line-height: 34px;
                color: $black-main-color;
                margin-bottom: 14px;
            }

            p {
                @extend %text2;
                color: $black-color2;
                line-height: 26px;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__numbers {
        padding-bottom: 50px;

        .h1 {
            line-height: 54px;
            margin-bottom: 30px;
            color: $black-color;
        }

        &--wrap {
            background-color: $black-color;
            background-image: url(../img/content/stats-bg@2x.png);
            background-size: cover;
            color: #fff;
            font-size: 18px;
            text-align: center;
            padding: 40px 0;

            .row {
                padding: 20px 0;
            }
            .yellow-number {
                font-size: 60px;
                line-height: 60px;
                color: #fddd31;
                font-weight: bold;
            }
        }
    }

    &__team {
        padding-bottom: 80px;

        .h1 {
            margin-bottom: 40px;
            line-height: 54px;
            color: $black-color;
        }

        &--image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--name {
            transition: all 0.25s;
            @extend %text3;
            color: $black-main-color;
        }

        .tab-pane {
            .h3 {
                margin: 5px 0 10px 0;
            }

            .text2 {
                margin-bottom: 30px;
            }
        }

        &--quote {
            background: $gray-light-color;
            padding: 20px 30px;
            @extend %text2;
            font-style: italic;
            color: $black-color2;
        }
    }

    &__tab {
        display: flex;
        flex-wrap: wrap;
        border: none;
        border-radius: 0;

        .nav-link {
            width: 25%;
            flex-shrink: 0;
            border: none;
            text-align: center;
            border-radius: 0;
            padding: 10px;
            text-decoration: none;
            transition: all 0.25s;

            &.active {
                border: none;
                background: $yellow-color;
            }

            &:hover {
                .about__team--name {
                    color: $yellow-color;
                }
            }
        }
    }
}

.anonymously {
    background: $gray-light-color;
    padding: 70px 0;

    .h1 {
        line-height: 54px;
        color: $black-color2;
        margin-bottom: 10px;
    }

    &__text {
        font-family: 'FuturaBookС', sans-serif;
        font-weight: 400;
        max-width: 474px;
        margin-bottom: 55px;
        line-height: 34px;
        color: $gray-color2;
    }

    &__image {
        margin-top: 17px;

        img {
            display: block;
            max-width: 282px;
            margin: auto 0 auto auto;
        }
    }
}

.requisites {
    padding: 80px 0;

    .h1 {
        margin-bottom: 40px;
        line-height: 54px;
    }

    &__info {
        margin-bottom: 50px;
        p {
            max-width: 362px;
            line-height: 28px;
            margin-bottom: 20px;
            @extend %text2;
            color: $black-color2;
        }
    }

    &__table {
        &--row {
            display: flex;
            @extend %text2;
            line-height: 28px;
            color: $black-color2;
        }
        span {
            display: block;
            width: 42px;
            flex-shrink: 0;
            color: $text-light;
            margin-right: 26px;
        }
    }

    .link-download {
        margin-bottom: 45px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
