.social {
    flex-wrap: wrap;
    &__item {
        cursor: pointer;
        height: 44px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid $text-light2;
        box-sizing: border-box;
        align-items: center;
        background: $white-color;
        font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-color: $text-light;
            .social__count {
                border-color: $text-light;
            }
        }
    }
    &__icon {
        margin: 0 5px 0 8px;
    }
    &__text {
        font-size: 12px;
        line-height: 42px;
        color: $black-main-color;
        padding-right: 10px;
    }

    &__count {
        color: $text-light;
        font-size: 12px;
        line-height: 42px;
        padding: 0 6px;
        border-left: 1px solid $text-light2;
    }
}

.stat-block {
    &__content {
        border: 8px solid #FDDD31;
        box-sizing: border-box;
        padding: 48px 0 48px 0;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .h1 {
        width: 337px;
        flex-shrink: 0;
        margin-right: 20px;
        margin-bottom: 0;
    }

    &__wrap {
        position: relative;
        align-items: flex-start;
    }

    &__sum {
        flex-shrink: 0;
        position: relative;
        color: $black-main-color;

        span {
            display: block;
            @extend %text2;
            margin-top: 5px;
            color: $text-light;
        }

        &:first-child {
            margin-right: 35px;

            &:after {
                content: '/';
                display: block;
                font-size: 56px;
                line-height: 63px;
                color: $text-light2;
                position: absolute;
                top: 0;
                right: -45px;
            }
        }

        &:last-child {
            margin-left: 35px;
        }
    }
}

.progress-block {
    padding: 80px 0;
    background: $white-color;

    &__header {
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;

        .h1 {
            max-width: 430px;
            font-weight: 600;
            color: $black-main-color;
        }

        .text2 {
            color: $text-light;
            margin-top: 13px;
        }
    }

    .objects__item--progress {
        margin-bottom: 50px;

        .progress-info {
            margin-bottom: 18px;
            align-items: center;
            justify-content: space-between;
        }

        .text1, .general-text2 {
            margin-bottom: 0;
            color: $black-main-color;
        }

        .progress {
            border-radius: 0;
            background-color: $gray-light-color;
            height: 10px;

            &-bar {
                background-color: $yellow-color;
            }
        }
    }

    &__footer {
        justify-content: space-between;

        .text2 {
            line-height: 24px;

            span {
                @extend %text3;
                line-height: 24px;
                color: $text-light;
                margin-right: 8px;
            }

            &:first-child {
                margin-bottom: 11px;
            }
        }
    }
}

.follow-soc-projects {
    border: 8px solid #FDDD31;
    box-sizing: border-box;
    max-width: 492px;
    margin: auto;
    padding: 42px 0 52px 0;

    &__content {
        max-width: 356px;
        margin: auto;
    }

    &__title {
        @extend %h1;
        line-height: 54px;
        margin-bottom: 30px;
        color: $black-main-color;
    }

    &__links {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        margin-bottom: 0;

        li {
            display: block;
            margin-bottom: 20px;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        li a {
            display: block;
            text-decoration: none;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            color: $white-color;
            text-align: center;
            line-height: 60px;
            background-color: $black-main-color;
            transition: all 0.25s;
            font-size: 28px;

            &:hover {
                background-color: $yellow-color;
                text-decoration: none;
                color: $white-color;
            }
        }
    }
}

/*block other objects*/
.other-obj {
    padding-top: 80px;
    position: relative;

    &__title {
        align-items: flex-end;
        margin-bottom: 30px;

        .h1 {
            max-width: 557px;
            margin-bottom: 0;
        }

        .link-line {
            align-self: center;
            margin-left: 35px;
            margin-top: auto;
            margin-bottom: 10px;
        }
    }

    .swiper-slide {
        width: 558px;
        .objects__item {
            width: 558px;
            margin-bottom: 0;
        }
    }
    &__swiper {
        position: relative;
    }
    .other-obj-prev, .other-obj-next, .safe-obj-prev, .safe-obj-next {
        bottom: auto;
        top: -43px;
        width: 44px;
        height: 26px;

        &:after {
            content: '';
            display: none;
        }

        &:focus {
            outline: none;
            box-shadow: none;
            cursor: pointer;
        }
    }

    .other-obj-prev, .safe-obj-prev {
        right: calc((100vw - 1140px) / 2 + 90px);
        left: auto;
        //@include bg-svg($slider-prev);
        &:hover {
            //@include bg-svg($slider-prev-hover);
        }
    }

    .other-obj-next, .safe-obj-next {
        right: calc((100vw - 1140px) / 2);
        left: auto;
        //@include bg-svg($slider-next);
        &:hover {
            //@include bg-svg($slider-next-hover);
        }
    }
}
