<div class="follow-soc-projects">
    <div class="follow-soc-projects__content">
    <div class="follow-soc-projects__title">Следитe за проектами <br>в соцсетях</div>

    <ul class="follow-soc-projects__links">
        <li>
            <a href="#"><i class="fab fa-odnoklassniki"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-vk"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-telegram-plane"></i></a>
        </li>
    </ul>
    </div>
</div>
