<div class="progress-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex progress-block__header">
                    <div class="h1">На текущие<br> проекты собрано</div>
                    <div class="text2">данные на  2 декабря 16:40</div>
                </div>

                <div class="objects__item--progress">
                    <div class="d-flex progress-info">
                        <div class="text1">4 250 000</div>

                        <div class="general-text2">необходимо  14 250 000</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 35%"
                             aria-valuenow="35"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="d-flex progress-block__footer">
                    <div>
                        <div class="text2">
                            <span>Собрали за октябрь </span>735 046
                        </div>
                        <div class="text2">
                            <span>За последние сутки </span>20 046
                        </div>
                    </div>

                    <a href="javascript;void(0)" class="btn btn-main">Поддержать фонд</a>
                </div>
            </div>
        </div>
    </div>
</div>
