<div class="other-obj pb-80">
    <div class="container">
        <div class="d-flex other-obj__title">
            <div class="h1">Общими силами мы уже сохранили 13 объектов</div>

            <a href="#" class="link-line">Посмотреть все</a>
        </div>
    </div>


    <div class="other-obj__swiper">
        <div class="swiper-container safe-obj-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="objects__item">
                        <div class="objects__item--image js-object-result">
                            <img src="../static/img/content/object1.png" alt="">
                            <img src="../static/img/content/object3.png" alt="">
                        </div>

                        <div class="d-flex objects__item--header">
                            <div class="text2 objects__item--town">Санкт-Петербург</div>
                            <div class="objects__item--status icon-whip-round"></div>
                        </div>
                        <div class="objects__item--footer">
                            <a href="object.html" class="h3 objects__item--name">Дом Станового. Парадные
                                двери</a>

                            <div class="objects__item--progress">
                                <div class="d-flex progress-info">
                                    <div class="progress-now">145 600</div>
                                    <div class="progress-help">помогло 8 360 человек</div>
                                    <div class="progress-finish">435 600</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%"
                                         aria-valuenow="50"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="objects__item">

                        <div class="objects__item--image js-object-result">
                            <img src="../static/img/content/object2.png" alt="">
                            <img src="../static/img/content/object3.png" alt="">
                        </div>

                        <div class="d-flex objects__item--header">
                            <div class="text2 objects__item--town">Санкт-Петербург</div>
                            <div class="objects__item--status icon-restore"></div>
                        </div>
                        <div class="objects__item--footer">
                            <a href="object.html" class="h3 objects__item--name">Дом Бака. Тамбуры и
                                проект реставрации
                                витражей
                            </a>

                            <div class="d-flex objects__item--info">
                                <div class="text3 objects__item--date">15 апреля 2019</div>
                                <div class="text3 objects__item--stage">этап 1 из 4</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="objects__item">
                        <div class="objects__item--image js-object-result">
                            <img src="../static/img/content/object2.png" alt="">
                            <img src="../static/img/content/object1.png" alt="">
                        </div>

                        <div class="d-flex objects__item--header">
                            <div class="text2 objects__item--town">Санкт-Петербург</div>
                            <div class="objects__item--status icon-completed"></div>
                        </div>
                        <div class="objects__item--footer">
                            <div class="objects__item--year">1931</div>
                            <a href="object.html" class="h3 objects__item--name">Дом Станового. Парадные
                                двери</a>

                            <div class="d-flex objects__item--info">
                                <div class="text3 objects__item--date">15 апреля 2019</div>
                                <div class="text3 objects__item--stage">этап 1 из 4</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="objects__item">
                        <div class="objects__item--image js-object-result">
                            <img src="../static/img/content/object2.png" alt="">
                            <img src="../static/img/content/object3.png" alt="">
                        </div>

                        <div class="d-flex objects__item--header">
                            <div class="text2 objects__item--town">Санкт-Петербург</div>
                            <div class="objects__item--status icon-whip-round"></div>
                        </div>
                        <div class="objects__item--footer">
                            <a href="object.html" class="h3 objects__item--name">Дом Станового. Парадные
                                двери</a>

                            <div class="objects__item--progress">
                                <div class="d-flex progress-info">
                                    <div class="progress-now">145 600</div>
                                    <div class="progress-help">помогло 8 360 человек</div>
                                    <div class="progress-finish">435 600</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%"
                                         aria-valuenow="50"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-prev safe-obj-prev"></div>
        <div class="swiper-button-next safe-obj-next"></div>
    </div>
</div>
