<div class="d-flex social">
    <div class="d-flex social__item">
        <div class="social__icon soc-twit"></div>
        <div class="social__text">Твитнуть</div>

        <div class="social__count">1 234</div>
    </div>

    <div class="d-flex social__item">
        <div class="social__icon soc-facebook"></div>
        <div class="social__text">Поделиться</div>

        <div class="social__count">1 234</div>
    </div>

    <div class="d-flex social__item">
        <div class="social__icon soc-vk"></div>
        <div class="social__text">Поделиться</div>

        <div class="social__count">1</div>
    </div>

    <div class="d-flex social__item">
        <div class="social__icon soc-telegram"></div>
        <div class="social__text">Отправить</div>
    </div>

    <div class="d-flex social__item">
        <div class="social__icon soc-ok"></div>
        <div class="social__text">Отправить</div>

        <div class="social__count">87</div>
    </div>
</div>
