<div class="pb-80 stat-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex stat-block__content">
                    <div class="h1">Работа фонда <br>в октябре:</div>
                    <div class="d-flex stat-block__wrap">
                        <div class="general-text1 stat-block__sum">1 155 670<span>Собрано</span></div>
                        <div class="general-text1 stat-block__sum">9 600<span>Человек поддержало</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
