<div class="support-fond">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h1">Поддержать фонд</div>

                <div class="support-fond__block">
                    <div class="nav nav-tabs tabs-support" role="tablist">
                        <a class="nav-item nav-link active" id="support1-tab" data-toggle="tab" href="#support1"
                           role="tab" aria-controls="support1" aria-selected="true">Банковская карта</a>
                        <a class="nav-item nav-link" id="support2-tab" data-toggle="tab" href="#support2"
                           role="tab" aria-controls="support2" aria-selected="false">Яндекс. Деньги</a>
                        <a class="nav-item nav-link" id="support3-tab" data-toggle="tab" href="#support3"
                           role="tab" aria-controls="support3" aria-selected="false">Криптовалюта</a>
                        <a class="nav-item nav-link" id="support4-tab" data-toggle="tab" href="#support4"
                           role="tab" aria-controls="support4" aria-selected="false">Счет в банке</a>
                    </div>

                    <div class="d-flex support-fond__content">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="support1" role="tabpanel"
                                 aria-labelledby="support1-tab">

                                <div class="nav nav-tabs filter-tab">
                                    <a class="nav-item nav-link w-50 active"  data-toggle="tab"
                                       role="tab" aria-selected="true">Ежемесячно</a>
                                    <a class="nav-item nav-link w-50" data-toggle="tab"
                                       role="tab" aria-selected="false">Разово</a>
                                </div>

                                <div class="d-flex flex-wrap support-fond__sum" role="tablist">
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab" aria-selected="false">200
                                        <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab" aria-selected="false">300
                                        <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab" aria-selected="false">500
                                        <span>₽</span></div>
                                    <div class="support-fond__sum--item active" data-toggle="tab"
                                         aria-selected="true">700 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab"
                                         aria-selected="false">1000 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab"
                                         aria-selected="false">1500 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab"
                                         aria-selected="false">2000 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab"
                                         aria-selected="false">3000 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab"
                                         aria-selected="false">5000 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" aria-selected="false">10000 <span>₽</span></div>
                                    <div class="support-fond__sum--item support-fond__sum--input" data-toggle="tab" aria-selected="false">
                                        <input type="" name="" placeholder="Другая сумма">
                                    </div>
                                </div>

                                <div class="form-row support-fond__person-info">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-lg" placeholder="Введите ваш email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="btn btn-main w-100">Продолжить</button>

                                        <div class="text4">Нажимая кнопку «Продолжить» вы соглашаетесь с <a
                                            href="#">офертой</a> и политикой <a href="#">обработки данных</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="support2" role="tabpanel" aria-labelledby="support2-tab">
                                <div class="nav nav-tabs filter-tab">
                                    <a class="nav-item nav-link w-100" data-toggle="tab"
                                       role="tab" aria-selected="false">Разовый платеж</a>
                                </div>

                                <div class="d-flex flex-wrap support-fond__sum" role="tablist">
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab" aria-selected="false">200
                                        <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab" aria-selected="false">300
                                        <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab" aria-selected="false">500
                                        <span>₽</span></div>
                                    <div class="support-fond__sum--item active" data-toggle="tab"
                                         aria-selected="true">700 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab"
                                         aria-selected="false">1000 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab"
                                         aria-selected="false">1500 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab"
                                         aria-selected="false">2000 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab"
                                         aria-selected="false">3000 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" role="tab"
                                         aria-selected="false">5000 <span>₽</span></div>
                                    <div class="support-fond__sum--item" data-toggle="tab" aria-selected="false">10000 <span>₽</span></div>
                                    <div class="support-fond__sum--item support-fond__sum--input" data-toggle="tab" aria-selected="false">
                                        <input type="" name="" placeholder="Другая сумма">
                                    </div>
                                </div>

                                <div class="form-row support-fond__person-info">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-lg" placeholder="Введите ваш email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="btn btn-main w-100">Продолжить</button>

                                        <div class="text4">Нажимая кнопку «Продолжить» вы соглашаетесь с <a
                                            href="#">офертой</a> и политикой <a href="#">обработки данных</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="support3" role="tabpanel" aria-labelledby="support3-tab">
                                <div class="support-fond__info">
                                    <div class="nav nav-tabs tabs-support" role="tablist">
                                        <a class="nav-item nav-link active" id="bitcoin-tab" data-toggle="tab"
                                           href="#bitcoin"
                                           role="tab" aria-controls="bitcoin" aria-selected="true">Bitcoin</a>

                                        <a class="nav-item nav-link" id="bitcoincash-tab" data-toggle="tab" href="#bitcoincash"
                                           role="tab" aria-controls="bitcoincash" aria-selected="false">Bitcoincash</a>

                                        <a class="nav-item nav-link" id="ethereum-tab" data-toggle="tab"
                                           href="#ethereum"
                                           role="tab" aria-controls="ethereum" aria-selected="false">Ethereum</a>
                                    </div>

                                    <div class="tab-content w-100">
                                        <div class="tab-pane fade show active" id="bitcoin" role="tabpanel" aria-labelledby="bitcoin-tab">
                                            <div class="d-flex support-fond__qr">
                                                <div class="text3">Отсканируйте QR-код и перейдите на страницу
                                                    оплаты</div>
                                                <div class="support-fond__qr-code">
                                                    <img src="static/img/content/qr-code.png">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="bitcoincash" role="tabpanel"
                                             aria-labelledby="bitcoincash-tab">
                                            <div class="d-flex support-fond__qr">
                                                <div class="text3">Отсканируйте QR-код и перейдите на страницу
                                                    оплаты</div>
                                                <div class="support-fond__qr-code">
                                                    <img src="static/img/content/qr-code.png">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="ethereum" role="tabpanel" aria-labelledby="ethereum-tab">
                                            <div class="d-flex support-fond__qr">
                                                <div class="text3">Отсканируйте QR-код и перейдите на страницу
                                                    оплаты</div>
                                                <div class="support-fond__qr-code">
                                                    <img src="static/img/content/qr-code.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="support4" role="tabpanel" aria-labelledby="support4-tab">
                                <div class="support-fond__info">
                                    <div class="text2 mb-20">Автономная некоммерческая организация сохранения
                                        культурного
                                        наследия «Внимание»</div>
                                    <div class="support-fond__info--table w-100">
                                        <div class="d-flex">
                                            <div class="col1">Номер счета</div>
                                            <div class="col2">40703810402620000095</div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col1">ИНН</div>
                                            <div class="col2">7720423186</div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col1">КПП</div>
                                            <div class="col2">772001001</div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col1">Банк</div>
                                            <div class="col2">АО «АЛЬФА-БАНК»</div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col1">БИК</div>
                                            <div class="col2">044525593</div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col1">Кор. счет</div>
                                            <div class="col2">30101810200000000593</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="support-fond__slider">
                            <div class="swiper-container swiper-support-fond">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="static/img/content/slider.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="static/img/content/slider.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="static/img/content/slider.png" alt="">
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination swiper-support-fond-pagination"></div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-support-fond-next"></div>
                                <div class="swiper-button-prev swiper-support-fond-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
