.news {
    &__main {
        margin-bottom: 100px;
        height: 360px;

        &--images {
            align-self: stretch;
            width: 50%;
            flex-shrink: 0;

            .news-main-slider {
                height: 100%;
            }

            .swiper-slide img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .swiper-button-next, .swiper-button-prev {
                color: $white-color;
                transition: all 0.25s;

                &:hover, &:focus, &:active {
                    color: $yellow-color;
                }
            }
        }

        &--info {
            width: 50%;
            flex-shrink: 0;
            height: 100%;
            align-self: stretch;
            background: $gray-light-color;
            padding: 40px 20px 40px 60px;
            display: flex;
            flex-direction: column;
            .h2 {
                line-height: 38px;
                margin-bottom: 15px;
                color: $black-main-color;
            }

            .text2 {
                line-height: 26px;
                color: $black-color2;
                margin-bottom: 30px;
            }
        }

        &--footer {
            justify-content: space-between;
            align-items: center;
            margin-top: auto;

            .text3 {
                line-height: 22px;
                color: $text-light;
            }
        }
    }

    &__list {
        padding-bottom: 80px;
    }

    &__item {
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
        color: $black-color;

        &:hover {
            text-decoration: none;
            color: $black-color;
            .news__item--title {
                text-decoration: none;
            }
            .news__item--title span {
                border-bottom: 1px solid $yellow-color;
            }
        }

        &:visited, &.visited {
            .news__item--status {
                display: block;
            }
        }

        &--image {
            position: relative;
            overflow: hidden;
            padding-bottom: 100%;
            img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 1;
            }
        }

        &--status {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 165px;
            height: 27px;
            background: $gray-light-color;
            text-align: center;
            @extend %text3;
            color: $text-light;
            line-height: 17px;
            padding-top: 5px;
            z-index: 2;
            display: none;
        }

        &--date {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 165px;
            height: 27px;
            background: $gray-light-color;
            text-align: center;
            @extend %text3;
            color: $black-color;
            line-height: 14px;
            padding-top: 10px;
            z-index: 2;
        }

        &--title {
            background: $gray-light-color;
            height: 87px;
            box-sizing: border-box;
            padding: 20px;
            @extend %text2;
            color: $black-color;
            transition: all 0.25s;

            span {
                transition: all 0.25s;
            }
        }

        &--play {
            position: absolute;
            top: 18px;
            right: 23px;
            border-radius: 50%;
            background-color: $white-color;
            z-index: 5;
            width: 47px;
            height: 47px;
            .icon-play {
                position: absolute;
                top: 0;
                left: 4px;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}
