<div class="page news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h1 mb-30">Новости</div>

                <div class="d-flex news__main">
                    <div class="news__main--images">
                        <div class="swiper-container news-main-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="static/img/content/news.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="static/img/content/news.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="static/img/content/news.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-button-prev news-main-prev"></div>
                            <div class="swiper-button-next news-main-next"></div>
                        </div>
                    </div>

                    <div class="news__main--info">
                        <div class="h2">Петербургские активисты отчистили плитку дома Любищевой</div>
                        <div class="text2">Доходный дом Любищевой расположен на Петроградской набережной. Он был
                            построен в
                            1906
                            году по проекту архитектора Хржонстовского в стиле модерн
                        </div>
                        <div class="d-flex news__main--footer">
                            <a href="javascript:void(0)" class="link-line"><span>Посмотреть</span></a>
                            <div class="text3">2 декабря 21:00</div>
                        </div>
                    </div>
                </div>


                <div class="news__list">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <a href="news.html" class="news__item visited">
                                <div class="news__item--image">
                                    <div class="news__item--status">Просмотрено</div>
                                    <img src="static/img/content/new.png" alt="">
                                    <div class="news__item--date">2 декабря 14:00</div>
                                </div>
                                <div class="news__item--title"><span>Дом купцов поваляевых: ворота и арт-объект</span>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <a href="news.html" class="news__item visited">
                                <div class="news__item--image">
                                    <div class="news__item--status">Просмотрено</div>
                                    <img src="static/img/content/new.png" alt="">
                                    <div class="news__item--date">2 декабря 14:00</div>
                                </div>
                                <div class="news__item--title"><span>Внимание! Как похорошела Россия</span></div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <a href="news.html" class="news__item">
                                <div class="news__item--image">
                                    <img src="static/img/content/new.png" alt="">
                                    <div class="news__item--date">2 декабря 14:00</div>
                                </div>
                                <div class="news__item--title"><span>Старый аэропорт? не памятник</span></div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <a href="news.html" class="news__item">
                                <div class="news__item--image">
                                    <img src="static/img/content/new.png" alt="">
                                    <div class="news__item--date">2 декабря 14:00</div>
                                </div>
                                <div class="news__item--title"><span>Иркутской почте выписали штраф</span></div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <a href="news.html" class="news__item news__item--video">
                                <div class="news__item--image">
                                    <img src="static/img/content/new.png" alt="">
                                    <div class="news__item--date">2 декабря 14:00</div>
                                    <div class="news__item--play">
                                        <div class="icon-play"></div>
                                    </div>
                                </div>
                                <div class="news__item--title"><span>Дом купцов поваляевых: ворота и арт-объект</span>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <a href="news.html" class="news__item">
                                <div class="news__item--image">
                                    <img src="static/img/content/new.png" alt="">
                                    <div class="news__item--date">2 декабря 14:00</div>
                                </div>
                                <div class="news__item--title"><span>Внимание! Как похорошела Россия</span></div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <a href="news.html" class="news__item">
                                <div class="news__item--image">
                                    <img src="static/img/content/new.png" alt="">
                                    <div class="news__item--date">2 декабря 14:00</div>
                                </div>
                                <div class="news__item--title"><span>Старый аэропорт? не памятник</span></div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <a href="news.html" class="news__item">
                                <div class="news__item--image">
                                    <img src="static/img/content/new.png" alt="">
                                    <div class="news__item--date">2 декабря 14:00</div>
                                </div>
                                <div class="news__item--title"><span>Иркутской почте выписали штраф</span></div>
                            </a>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-40">
                        <div class="col-md-6">
                            <a href="javascript:void(0)" class="btn btn-secondary w-100">Показать ещё</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> blocks/new-objects}}

{{> blocks/progress-block}}
