.header {
    height: 95px;
    &__wrap {
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 20;
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
            animation-duration: 1s;
            animation-delay: 0s;

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 28px;
                background: linear-gradient(180deg, rgba(115, 115, 115, 0) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.05) 100%);
                transform: rotate(-180deg);
                position: absolute;
                left: 0;
                bottom: -28px;
            }
        }
    }

    &__info {
        padding: 3px 0;
        background-color: $black-main-color;

        &--content {
            align-items: center;
            padding-left: 226px;
        }

        &--menu {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            display: flex;
            align-items: center;

            li {
                margin-right: 26px;

                &:last-child {
                    margin-right: 0;
                }
            }

            li a {
                display: block;
                text-decoration: none;
                @extend %text3;
                margin-bottom: 0;
                color: $white-color;
                transition: all 0.25s;

                &:hover {
                    color: $yellow-color;
                    text-decoration: none;
                }
            }
        }

        &--new {
            font-family: "FuturaBookC", 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
            font-size: 14px;
            line-height: 22px;
            color: $yellow-color;
            margin-left: auto;
            width: 388px;

            span {
                text-transform: uppercase;
                color: $white-color;
                margin-right: 6px;
            }
        }
    }

    &__main {
        padding: 13px;
        background: $white-color;

        &--content {
            align-items: center;
        }
    }

    &__logo {
        width: 196px;
        position: relative;
        margin-right: 30px;
        margin-top: -30px;

        img {
            width: 100%;
        }
    }

    &__menu {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;

        li {
            margin-right: 48px;

            &:last-child {
                margin-right: 0;
            }
        }

        li a {
            display: block;
            text-decoration: none;
            @extend %h6;
            margin-bottom: 0;
            color: $black-main-color;
            transition: all 0.25s;

            &:hover {
                color: $yellow-color;
                text-decoration: none;
            }
        }
    }

    &__btn {
        margin-left: auto;

        .btn-main {
            margin-right: 30px;
        }
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
