<header class="header">
    <div class="header__wrap fixed">
        <div class="header__info">
            <div class="container">
                <div class="d-flex header__info--content">
                    <ul class="header__info--menu">
                        <li>
                            <a href="about.html">О фонде</a>
                        </li>
                        <li>
                            <a href="advice.html">Экспертный совет</a>
                        </li>
                        <li>
                            <a href="finance.html">Финансовый отчёт</a>
                        </li>
                        <li>
                            <a href="news.html">Новости</a>
                        </li>
                    </ul>

                    <div class="header__info--new">
                        <span>В октябре:</span> собрано 1 200 230 / спасено 3 объекта
                    </div>
                </div>
            </div>
        </div>

        <div class="header__main">
            <div class="container">
                <div class="d-flex header__main--content">
                    <a href="main.html" class="header__logo">
                        <img src="static/img/general/logo2.svg" alt="logo">
                    </a>

                    <ul class="header__menu">
                        <li>
                            <a href="save.html">Сохранили</a>
                        </li>
                        <li>
                            <a href="restore.html">Восстанавливаем</a>
                        </li>
                        <li>
                            <a href="fundraising.html">Сбор денег</a>
                        </li>
                    </ul>

                    <div class="d-flex header__btn">
                        <a href="#" class="btn btn-main btn-small">Поддержать фонд</a>
                        <a href="#" class="btn btn-secondary btn-small">Отправить заявку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
