<div class="build">
    <div class="build__info">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex build__info--wrap">
                        <div class="build__info--name">Усадьба сонка. Проект реставрации черепичной кровли</div>

                        <div class="build__info--progress">
                            <div class="d-flex progress-info">
                                <div class="progress-now">145 600</div>
                                <div class="progress-help">помогло 8 360 человек</div>
                                <div class="progress-finish">435 600</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%"
                                     aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <a href="#" class="btn btn-main btn-small">Поддержать объект</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex build__title mb-30">
                    <div>
                        <div class="h2">Усадьба сонка. Проект реставрации черепичной кровли</div>
                        <div class="text2">Волгоград, Благовещенская, 22</div>
                    </div>

                    <div class="d-flex build__status statuc-completed"><span></span>Сохранили</div>
                </div>

                <div class="build__slider">
                    <div class="swiper-container swiper-build">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="static/img/content/build-slide5.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="static/img/content/build-slide4.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="static/img/content/build-slide.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="build__slider--info">Силами волонтеров восстановили главный фасад здания и
                        восстановление продолжается
                    </div>

                    <div class="swiper-pagination swiper-build-pagination"></div>

                    <div class="swiper-button-prev swiper-build-prev"></div>
                    <div class="swiper-button-next swiper-build-next"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="build__line-status">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex">
                        <div class="build__line-status--wrap">
                            <div class="text1">Сбор денег</div>
                            <div class="text3">окончен 21.11.19</div>
                        </div>
                        <div class="build__line-status--wrap active">
                            <div class="text1">Восстанавление</div>
                            <div class="text3">в процессе</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pt-60">
            <div class="col-md-8">
                <div class="build__history pb-0">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="d-flex card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                 aria-controls="collapseOne">
                                <div class="h2">Подготовка проекта
                                </div>
                                <span>1 этап</span>
                                <div class="card-header--arrow">
                                    <span></span>
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <p>В ноябре мы завершили сбор 190 тысяч рублей для музея «Золотой ручей» в селе Заозерье
                                    в Карелии. Дом необходимо было срочно спасать от сырости, поэтому мы организовали
                                    устройство отмостки и восстановление дренажной системы на участке</p>
                                <p>Этого никто не замечает, все уже привыкли, и никого не возмущает, что сносят
                                    памятники архитектуры, что в здания XIX века вставляют металлические двери и
                                    пластиковые окна, что старые фонари и ограды отправляют на переплавку. Так
                                    продолжаться больше не может. Мы открыли Фонд Внимание, чтобы эту ситуацию
                                    изменить</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="d-flex card-header" id="headingTwo" data-toggle="collapse"
                                 data-target="#collapseTwo" aria-expanded="false"
                                 aria-controls="collapseTwo">
                                <div class="h2">Восстановительные работы
                                </div>

                                <span>2 этап</span>
                                <div class="card-header--arrow">
                                    <span></span>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordionExample">
                                <p>В ноябре мы завершили сбор 190 тысяч рублей для музея «Золотой ручей» в селе Заозерье
                                    в Карелии. Дом необходимо было срочно спасать от сырости, поэтому мы организовали
                                    устройство отмостки и восстановление дренажной системы на участке</p>
                                <p>Этого никто не замечает, все уже привыкли, и никого не возмущает, что сносят
                                    памятники архитектуры, что в здания XIX века вставляют металлические двери и
                                    пластиковые окна, что старые фонари и ограды отправляют на переплавку. Так
                                    продолжаться больше не может. Мы открыли Фонд Внимание, чтобы эту ситуацию
                                    изменить</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="d-flex card-header" id="headingThree" data-toggle="collapse"
                                 data-target="#collapseThree" aria-expanded="false"
                                 aria-controls="collapseThree">
                                <div class="h2">Работы окончены
                                </div>

                                <span>3 этап</span>
                                <div class="card-header--arrow">
                                    <span></span>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <p>В ноябре мы завершили сбор 190 тысяч рублей для музея «Золотой ручей» в селе Заозерье
                                    в Карелии. Дом необходимо было срочно спасать от сырости, поэтому мы организовали
                                    устройство отмостки и восстановление дренажной системы на участке</p>
                                <p>Этого никто не замечает, все уже привыкли, и никого не возмущает, что сносят
                                    памятники архитектуры, что в здания XIX века вставляют металлические двери и
                                    пластиковые окна, что старые фонари и ограды отправляют на переплавку. Так
                                    продолжаться больше не может. Мы открыли Фонд Внимание, чтобы эту ситуацию
                                    изменить</p>
                            </div>
                        </div>
                    </div>

                    <div class="build__result">
                        <div class="build__result--images">
                            <img src="static/img/content/build-slide5.png">
                            <img src="static/img/content/build-slide4.png">
                        </div>
                        <p>Восстановление переднего фасада</p>
                    </div>

                    <p>В ноябре мы завершили сбор 190 тысяч рублей для музея «Золотой ручей» в селе Заозерье в Карелии.
                        Дом
                        необходимо было срочно спасать от сырости, поэтому мы организовали устройство отмостки и
                        восстановление дренажной системы на участке.</p>
                    <p>Этого никто не замечает, все уже привыкли, и никого не возмущает, что сносят памятники
                        архитектуры,
                        что в здания XIX века вставляют металлические двери и пластиковые окна, что старые фонари и
                        ограды
                        отправляют на переплавку. Так продолжаться больше не может. Мы открыли Фонд Внимание, чтобы эту
                        ситуацию изменить</p>

                    <div class="build__history--block">
                        <div class="h2 mb-20">Как пойдет работа</div>
                        <p>Этого никто не замечает, все уже привыкли, и никого не возмущает, что сносят памятники
                            архитектуры, что в здания XIX века вставляют металлические двери и пластиковые окна, что
                            старые
                            фонари и ограды отправляют на переплавку. Так продолжаться больше не может. Мы открыли Фонд
                            Внимание, чтобы эту ситуацию изменить</p>
                        <p>Ратуша была зданием городского управления, организующим центром жизнедеятельности города и
                            уезда. В её стенах в течение десятков лет работал бургомистр, проводились городские
                            мероприятия,
                            судебные заседания, сборы и советы различных добровольных обществ, общественных организаций
                            и
                            городской думы. Один зал был выделен под городской музей, экспонаты для которого собирались
                            энтузиастами с 1883 года</p>

                        <div class="h3 mb-20">Этапы работы над объектом:</div>
                        <ul>
                            <li>Разработка проектной документации со специалистами высокого класса</li>
                            <li>Согласование проекта с администрацией</li>
                            <li>Закупки материалов и подряд рабочих</li>
                            <li>Завершение реставрации и открытие объекта</li>
                        </ul>

                        <p>В ноябре мы завершили сбор 190 тысяч рублей для музея «Золотой ручей» в селе Заозерье в
                            Карелии.
                            Дом
                            необходимо было срочно спасать от сырости, поэтому мы организовали устройство отмостки и
                            восстановление дренажной системы на участке.</p>
                        <p>Этого никто не замечает, все уже привыкли, и никого не возмущает, что сносят памятники
                            архитектуры,
                            что в здания XIX века вставляют металлические двери и пластиковые окна, что старые фонари и
                            ограды
                            отправляют на переплавку. Так продолжаться больше не может. Мы открыли Фонд Внимание, чтобы
                            эту
                            ситуацию изменить</p>
                    </div>

                    <div class="build__result">
                        <div class="build__result--images">
                            <img src="static/img/content/build-slide5.png">
                            <img src="static/img/content/build-slide4.png">
                        </div>
                    </div>

                    <div class="h3 mb-20">В итоге мы имеем</div>

                    <p>В ноябре мы завершили сбор 190 тысяч рублей для музея «Золотой ручей» в селе Заозерье в Карелии.
                        Дом необходимо было срочно спасать от сырости, поэтому мы организовали устройство отмостки и
                        восстановление дренажной системы на участке
                        Этого никто не замечает, все уже привыкли, и никого не возмущает, что сносят памятники
                        архитектуры, что в здания XIX века вставляют металлические двери и пластиковые окна, что старые
                        фонари и ограды отправляют на переплавку. Так продолжаться больше не может. Мы открыли Фонд
                        Внимание, чтобы эту ситуацию изменить</p>

                    <hr>

                    <div class="build__like">
                        <div class="h2">Поддержите проект лайком</div>

                        {{> blocks/social}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    {{> sidebar/sidebar-news}}

                    {{> sidebar/sidebar-video}}
                </div>
            </div>
        </div>
    </div>
</div>

{{> blocks/other-objects}}

{{> blocks/progress-block}}
