.build {
    padding-top: 40px;
    position: relative;
    border-top: 1px solid $text-light2;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 28px;
        background: linear-gradient(180deg, rgba(115, 115, 115, 0) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.05) 100%);
        transform: rotate(-180deg);
        position: absolute;
        left: 0;
        top: 0;
    }

    &__info {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $white-color;
        z-index: 11;
        padding: 10px 0;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 28px;
            background: linear-gradient(180deg, rgba(115, 115, 115, 0) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.05) 100%);
            position: absolute;
            left: 0;
            top: -28px;
        }

        .btn-main {
            width: 250px;
        }

        &--wrap {
            justify-content: space-between;
            align-items: center;
        }

        &--name {
            width: 302px;
            font-family: 'FuturaDemiС', sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-main-color;
        }

        &--progress {
            width: 520px;
        }

        .progress {
            border-radius: 0;
            height: 4px;
            background-color: transparent;
            border-bottom: 1px solid $text-light2;

            &-info {
                margin-bottom: 4px;
                justify-content: space-between;
                align-items: center;
            }

            &-bar {
                position: relative;
                height: 4px;
                z-index: 2;
                background: $yellow-color;
            }

            &-now, &-finish {
                @extend %text3;
                color: $black-color2;
            }

            &-help {
                @extend %text3;
                color: $text-light;
            }
        }
    }

    &__title {
        justify-content: space-between;
        align-items: flex-start;

        .h2 {
            margin-bottom: 8px;
            max-width: 725px;
            color: $black-main-color;
        }

        .text2 {
            color: $text-light;
        }
    }

    &__status {
        border: 1px solid $text-light2;
        box-sizing: border-box;
        border-radius: 50px;
        height: 56px;
        padding: 14px;
        @extend %text2;
        color: $text-light;
        flex-shrink: 0;
        margin-top: 10px;

        span {
            display: block;
            margin-right: 10px;
            width: 28px;
            height: 28px;
            flex-shrink: 0;
        }

        &.status-raising-money span {
            //@include bg-svg($icon-rub-circle);
        }

        &.status-restore span {
            //@include bg-svg($icon-restore);
        }

        &.statuc-completed span {
            //@include bg-svg($icon-completed);
        }
    }

    &__slider {
        position: relative;
        margin-bottom: 107px;

        .swiper-build {
            margin-bottom: 30px;
        }

        &--info {
            @extend %text2;
            color: $black-color2;
            position: absolute;
        }

        .swiper-build-pagination {
            top: auto;
            bottom: -55px;
            @extend %text2;
            color: $text-light;
            width: 120px;
            text-align: center;
            left: auto;
            right: 44px;
        }

        .swiper-build-prev, .swiper-build-next {
            top: auto;
            bottom: -56px;
            width: 44px;
            height: 26px;

            &:after {
                content: '';
                display: none;
            }

            &:focus {
                outline: none;
                box-shadow: none;
                cursor: pointer;
            }
        }

        .swiper-build-prev {
            right: 165px;
            left: auto;
            //@include bg-svg($slider-prev);
            &:hover {
                //@include bg-svg($slider-prev-hover);
            }
        }

        .swiper-build-next {
            right: 0;
            left: auto;
            //@include bg-svg($slider-next);
            &:hover {
                //@include bg-svg($slider-next-hover);
            }
        }
    }

    &__line-status {
        padding: 16px 0;
        background: $gray-light-color;

        .text1 {
            color: $black-main-color;
        }

        .text3 {
            color: $text-light;
        }

        &--wrap {
            position: relative;
            margin-right: 62px;
            cursor: pointer;
            transition: all 0.25s;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background: $black-main-color;
                bottom: -16px;
                transition: all 0.25s;
                display: none;
            }

            &:last-child {
                margin-right: 0;
            }

            &.not-border:before {
                display: none;
            }

            &:hover {
                &:before {
                    display: block;
                    background-color: $text-light2;
                }
            }

            &.active {
                &:before {
                    display: block;
                }

                &:hover {
                    &:before {
                        background: $black-main-color;
                    }
                }
            }
        }
    }

    &__history {
        padding: 0 45px 60px 0;

        &--main-title {
            margin-top: 60px;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
            margin-bottom: 30px;
            color: $black-color2;
        }

        .img-fluid, img {
            margin: 10px 0 40px 0;
        }

        ul {
            padding-left: 0;
            margin-bottom: 40px;
            list-style: none;

            li {
                display: flex;
                align-items: flex-start;
                font-size: 18px;
                line-height: 28px;
                color: $text-light;
                font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
                margin: 10px 0;

                &:before {
                    content: '';
                    display: block;
                    border-radius: 50%;
                    height: 12px;
                    width: 12px;
                    background-color: $yellow-color;
                    margin-right: 20px;
                    margin-top: 7px;
                }
            }
        }

        &--block {
            margin-bottom: 10px;

            .h2 {
                font-weight: 500;
                font-size: 34px;
                line-height: 40px;
                color: $black-main-color;
            }

            .h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                color: $black-main-color;
            }
        }
    }

    &__history-swiper {
        margin: 40px 0;
        width: 100%;

        .swiper-slide {
            width: 100%;
            padding-bottom: 56%;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .swiper-pagination {
            bottom: 20px;
            @extend %text3;
            color: $white-color;
        }

        .swiper-button-next, .swiper-button-prev {
            color: $white-color;
            transition: all 0.25s;

            &:hover, &:focus, &:active {
                color: $yellow-color;
            }
        }
    }

    &__list-work {
        margin-bottom: 60px;

        &--row {
            align-items: center;
            padding: 17px 30px;
            justify-content: space-between;

            &:nth-child(odd) {
                background-color: $gray-light-color;
            }

            &:nth-child(even) {
                background-color: $white-color;
            }
        }

        &-col1 {
            @extend %text3;
            color: $black-color2;
            max-width: 450px;
        }

        &-col2 {
            @extend %text2;
            color: $black-color2;
            width: 90px;
            flex-shrink: 0;
            text-align: right;
            font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;

            span {
                font-size: 16px;
            }
        }
    }

    &__like {
        padding-top: 40px;

        .social {
            &__item {
                background: $gray-light-color;
            }
        }

        .h2 {
            margin-bottom: 26px;
            line-height: 40px;
            color: $black-color;
        }

        &--block {
            border: 8px solid #FDDD31;
            box-sizing: border-box;
            padding: 32px 42px 42px 52px;


            .btn-main {
                display: block;
                width: 264px;
                text-align: center;
            }
        }

        &--text {
            max-width: 396px;

            p {
                @extend %text3;
                color: $black-color2;
            }
        }
    }

    &__result {
        margin: 50px 0;

        p {
            @extend %text3;
            color: $text-light;
            margin-bottom: 0;
            margin-top: 15px;
            line-height: 20px;
        }
    }
}

.accordion {
    border-radius: 0;
    border: none;
}

.card {
    border-radius: 0;
    border: none;

    &-header {
        padding: 16px 0;
        background: transparent;
        border-radius: 0;
        border: none;
        border-top: 1px solid $text-light2;
        align-items: center;
        cursor: pointer;
        transition: all 0.25s;

        span {
            margin-left: auto;
            font-size: 14px;
            line-height: 22px;
            color: $text-light;
        }

        &--arrow {
            width: 42px;
            display: flex;

            span {
                transition: all 0.25s;
                margin-right: 5px;
                display: block;
                height: 10px;
                width: 10px;
                border-right: 2px solid $black-main-color;
                border-bottom: 2px solid $black-main-color;
                transform: rotate(45deg);
            }
        }

        &[aria-expanded="true"] {
            .card-header--arrow span {
                transform: rotate(-135deg);
            }
        }

        &[aria-expanded="false"] {
            .card-header--arrow span {
                transform: rotate(45deg);
            }
        }

        &:hover {
            color: $yellow-color;
            .card-header--arrow span {
                border-color: $yellow-color;
            }
        }
    }
}


.content {
    &__image {
        margin: 40px 0 50px 0;

        .img-fluid {
            width: 100%;
            margin-bottom: 14px;
        }

        p {
            @extend %text3;
            line-height: 28px;
            color: $text-light;
        }
    }
}
