<div class="main-banner" style="background-image: url('static/img/content/banner.png')">
    <div class="main-banner__image-wrap">
    <img src="static/img/content/banner.png" class="main-banner__image">
    </div>
        <div class="container">
        <div class="main-banner__content">
            <div class="h1">Спасли от разрушения:</div>
            <div class="text3 main-banner__town">Волгоград</div>
            <div class="main-banner__list">
                <a href="#" class="main-banner__item active" data-image="static/img/content/banner.png"><span>Фасад и
                    боковую стену дома Клабуковых</span></a>
                <a href="#" class="main-banner__item" data-image="static/img/content/build-slide.jpg"><span>Усадьбу сонку с вековыми фресками</span></a>
                <a href="#" class="main-banner__item" data-image="static/img/content/build-slide4.png"><span>Здание почты в селе Богатое</span></a>
                <a href="#" class="main-banner__item" data-image="static/img/content/build-slide5.png"><span>Парадные двери в доме Станового</span></a>
            </div>
        </div>
    </div>
</div>

{{> blocks/statistic-block}}

<div class="info-fond">
    <div class="container">
        <div class="row">
            <div class="col-md-6 info-fond__content">
                <div class="h1">Сохраним историческое наследие России</div>
                <div class="info-fond__text">
                    <p class="text2">Ежедневно в России в больших и малых городах уничтожают историческое наследие.
                    </p>
                    <p class="text2">Этого никто не замечает, все уже привыкли, и никого не возмущает, что сносят
                        памятники
                        архитектуры, что в здания XIX века вставляют металлические двери и пластиковые окна, что старые
                        фонари и ограды отправляют на переплавку. Так продолжаться больше не может. Мы открыли Фонд
                        Внимание, чтобы эту ситуацию изменить</p>
                </div>

                <a href="#" class="btn btn-main">Поддержать фонд</a>
            </div>
            <div class="col-md-6">
                <div class="info-fond__img">
                    <img src="static/img/content/info-fond.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="objects pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h1">Объекты</div>

                <div class="d-flex objects__filter">
                    <div class="nav objects__filter--tabs">
                        <a href="javascript:void(0)" class="active">Все</a>
                        <a href="#" class=""><span class="icon-completed"></span>Сохранили</a>
                        <a href="#" class=""><span class="icon-restore"></span>Восстанавливаем</a>
                        <a href="#" class=""><span class="icon-whip-round"></span>Сбор денег</a>
                    </div>
                    <div class="nav nav-tabs filter-tab" id="nav-tab" role="objectslist">
                        <a class="nav-item nav-link active" id="object1-tab" data-toggle="tab" href="#object1"
                           role="tab" aria-controls="object1" aria-selected="true">Карточками</a>
                        <a class="nav-item nav-link" id="object2-tab" data-toggle="tab" href="#object2"
                           role="tab" aria-controls="object2" aria-selected="false">На карте</a>
                    </div>
                </div>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="object1" role="objectslist"
                         aria-labelledby="object1-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="object-raising.html"  class="objects__item">
                                    <div class="objects__item--image">
                                        <img src="static/img/content/object1.png" alt="">
                                    </div>

                                    <div class="d-flex objects__item--header">
                                        <div class="text2 objects__item--town">Санкт-Петербург</div>
                                        <div class="objects__item--status icon-whip-round"></div>
                                    </div>
                                    <div class="objects__item--footer">
                                        <div class="h3 objects__item--name">Дом Станового. Парадные
                                            двери</div>

                                        <div class="objects__item--progress">
                                            <div class="d-flex progress-info">
                                                <div class="progress-now">145 600</div>
                                                <div class="progress-help">помогло 8 360 человек</div>
                                                <div class="progress-finish">435 600</div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 50%"
                                                     aria-valuenow="50"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6">
                                <div class="objects__item">

                                    <div class="objects__item--image js-object-result">
                                        <img src="static/img/content/object2.png" alt="">
                                        <img src="static/img/content/object3.png" alt="">
                                    </div>

                                    <div class="d-flex objects__item--header">
                                        <div class="text2 objects__item--town">Санкт-Петербург</div>
                                        <div class="objects__item--status icon-restore"></div>
                                    </div>
                                    <div class="objects__item--footer">
                                        <a href="object-raising.html" class="h3 objects__item--name">Дом Бака. Тамбуры и
                                            проект реставрации
                                            витражей
                                        </a>

                                        <div class="d-flex objects__item--info">
                                            <div class="text3 objects__item--date">15 апреля 2019</div>
                                            <div class="text3 objects__item--stage">этап 1 из 4</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <a href="object-raising.html"  class="objects__item">
                                    <div class="objects__item--image">
                                        <img src="static/img/content/object3.png" alt="">
                                    </div>

                                    <div class="d-flex objects__item--header">
                                        <div class="text2 objects__item--town">Санкт-Петербург</div>
                                        <div class="objects__item--status icon-completed"></div>
                                    </div>
                                    <div class="objects__item--footer">
                                        <div class="objects__item--year">1931</div>
                                        <div class="h3 objects__item--name">Дом Станового. Парадные
                                            двери</div>

                                        <div class="d-flex objects__item--info">
                                            <div class="text3 objects__item--date">15 апреля 2019</div>
                                            <div class="text3 objects__item--stage">этап 1 из 4</div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6">
                                <a href="object-raising.html"  class="objects__item">
                                    <div class="objects__item--image">
                                        <img src="static/img/content/object4.png" alt="">
                                    </div>

                                    <div class="d-flex objects__item--header">
                                        <div class="text2 objects__item--town">Санкт-Петербург</div>
                                        <div class="objects__item--status icon-whip-round"></div>
                                    </div>
                                    <div class="objects__item--footer">
                                        <div class="h3 objects__item--name">Дом Станового. Парадные
                                            двери</div>

                                        <div class="objects__item--progress">
                                            <div class="d-flex progress-info">
                                                <div class="progress-now">145 600</div>
                                                <div class="progress-help">помогло 8 360 человек</div>
                                                <div class="progress-finish">435 600</div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 50%"
                                                     aria-valuenow="50"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <a href="javascript:void(0)" class="btn btn-secondary w-100">Показать ещё</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nobject2" role="objectslist" aria-labelledby="object2-tab">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pb-80 security">
    <div class="container">
        <a href="#" class="security__wrap">
            <div class="d-flex row security__content">
                <div class="col-md-6">
                    <div class="d-flex security__col1">
                        <div class="security__icon">
                            <img src="static/img/content/security-icon.svg" alt="security icon">
                        </div>

                        <div class="h2">Как поставить здание на охрану</div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="d-flex security__col2">
                        <div class="text1">Инструкция: 7 шагов на пути к статусу объекта культурного или исторического
                            наследия
                        </div>
                        <div class="security__link">
                            <img src="static/img/content/double-arrow.svg">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

{{> main/blocks/main-video}}

{{> main/blocks/main-news}}

<!--how to help-->
<div class="pb-50 ht-help">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h1">Как спасти исторические здания?</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="ht-help__item">
                    <div class="ht-help__number">1</div>
                    <div class="h2 ht-help__title">Подача заявки</div>
                    <div class="text2 ht-help__text">Собственники зданий, представители администрации или частные лица
                        подают заявку на получение гранта в целях сохранения или восстановления элементов городской
                        среды: фасадов и балконов, скамеек и лестниц, вывесок и уличных фонарей, которые могли бы
                        украшать, a не уродовать город
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ht-help__item">
                    <div class="ht-help__number">2</div>
                    <div class="h2 ht-help__title">Рассмотрение</div>
                    <div class="text2 ht-help__text">Экспертный совет фонда рассматривает поступившие заявки и
                        отбирает наиболее актуальные
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ht-help__item">
                    <div class="ht-help__number">3</div>
                    <div class="h2 ht-help__title">Выдача гранта</div>
                    <div class="text2 ht-help__text">Проводится экспертиза объекта, по результатам которой члены
                        принимают решение о выдаче гранта и его размере. Фонд выдает грант на восстановление элементов
                        городской среды, помогает с реставрацией, консервацией, аудитом и привлечением экспертов
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="request mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="request__block">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex request__info">
                                <div class="request__icon">
                                    <img src="static/img/content/request-icon.svg" alt="">
                                </div>
                                <div class="request__info--text">
                                    <div class="h2">Подайте заявку <br>и спасите здание <br>в своем городе</div>
                                    <div class="text3">Если вам известны объекты, которые, на ваш взгляд, требуют
                                        реставрации,
                                        то не оставайтесь равнодушными и заполните заявку на нашем сайте
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="request__form">
                                <form>
                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name=""
                                                       placeholder="Город объекта">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="" placeholder="Адрес">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name=""
                                                       placeholder="( ___ ) - ___ - __ - __" id="inputPhone">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-main">Продолжить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{> blocks/support-fond-main}}

{{> blocks/progress-block}}
