.main-banner {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white-color;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    overflow: hidden;
    &:after {
        content: "";
        width: 100%;
        height: 50%;
        background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    &__image {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        animation-name: banner;
        animation-duration: 0.25s;
        animation-fill-mode: both;
        animation-timing-function: linear;
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .h1 {
            margin-bottom: 20px;
            color: $white-color;
        }

        .text3 {
            color: $text-light2;
            margin-bottom: 4px;
        }
    }

    &__list {
        display: flex;
        align-items: flex-start;
    }

    &__item {
        display: block;
        width: 25%;
        flex-shrink: 0;
        font-size: 18px;
        line-height: 28px;
        color: $white-color;
        text-decoration: none;
        padding-right: 20px;
        font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;

        span {
            padding-bottom: 3px;
            transition: all 0.25s;
            border-bottom: 1px solid $gray-light-color;
            font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;
        }

        &:hover {
            text-decoration: none;
            color: $yellow-color;

            span {
                border-color: $yellow-color;
            }
        }
    }
}

.info-fond {
    padding-bottom: 80px;

    .h1 {
        margin-bottom: 30px;
    }

    &__content {
        padding-right: 40px;
    }

    &__text {
        p {
            line-height: 28px;
            margin-bottom: 30px;
            color: $black-color2;
        }
    }

    &__img {
        max-width: 480px;

        img {
            width: 100%;
        }
    }
}

.objects {
    .h1 {
        margin-bottom: 5px;
    }

    .btn-secondary {
        margin-top: 20px;
    }

    &__filter {
        align-items: center;
        margin-bottom: 30px;
        justify-content: space-between;

        &--tabs a {
            @extend %h5;
            margin-right: 40px;
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: all 0.25s;
            position: relative;

            &:after {
                content: '';
                display: none;
                height: 0;
                width: 100%;
                position: absolute;
                bottom: -11px;
                border-bottom: 2px solid $black-main-color;
                box-sizing: border-box;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                text-decoration: none;
                color: $yellow-color;
            }

            &.active {
                &:after {
                    display: block;
                }

                &:hover {
                    color: $black-main-color;
                }
            }

            span {
                display: block;
                margin-right: 8px;
            }
        }
    }

    &__item {
        text-decoration: none;
        display: block;
        height: 378px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        margin-bottom: 30px;
        transition: all 0.5s;
        overflow: hidden;

        &:hover {
            color: initial;

            .objects__item--image {
                transform: scale(1.05);
            }
        }

        .twentytwenty-wrapper, .twentytwenty-horizontal {
            height: 100% !important;
        }

        &--image {
            position: relative;
            height: 100% !important;
            width: 100%;
            overflow: hidden;
            z-index: 2;
            transition: all 0.45s;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &--header {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px 30px 30px 30px;
            align-items: center;
            justify-content: space-between;
            z-index: 3;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 100%);
        }

        &--year {
            height: 20px;
            width: 46px;
            border-radius: 10px;
            margin-bottom: 18px;
            text-align: center;
            font-size: 12px;
            line-height: 20px;
            color: $black-color2;
            background-color: $white-color;
        }

        &--footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 30px 30px 30px;
            z-index: 3;
            background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.01) 100%);
        }

        &--town {
            color: $white-color;
        }

        &--name {
            margin-bottom: 11px;
            color: $white-color;
            display: block;

            &:hover {
                text-decoration: none;
                color: $white-color;
            }
        }

        &--info {
            align-items: center;
        }

        &--date {
            margin-right: 20px;
            color: $white-color;
        }

        &--stage {
            color: $text-light;
        }

        &--progress {
            margin-bottom: 8px;
        }

        .progress {
            border-radius: 0;
            height: 4px;
            background-color: transparent;
            border-bottom: 1px solid $white-color;

            &-info {
                margin-bottom: 4px;
                justify-content: space-between;
                align-items: center;
            }

            &-bar {
                position: absolute;
                height: 4px;
                z-index: 2;
                background: $yellow-color;
            }

            &-now, &-finish {
                @extend %text3;
                color: $white-color;
            }

            &-help {
                @extend %text3;
                color: $text-light;
            }
        }
    }


    .progress {
        border-radius: 0;
        height: 4px;
        background-color: transparent;
        border-bottom: 1px solid $white-color;

        &-info {
            margin-bottom: 4px;
            justify-content: space-between;
            align-items: center;
        }

        &-bar {
            position: absolute;
            height: 4px;
            z-index: 2;
            background: $yellow-color;
        }

        &-now, &-finish {
            @extend %text3;
            color: $white-color;
        }

        &-help {
            @extend %text3;
            color: $text-light;
        }
    }
}

.main-video {
    padding-bottom: 40px;

    &__title {
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 40px;

        .h1 {
            margin-bottom: 0;
        }

        .link-line {
            align-self: center;
            margin-bottom: 0;
        }
    }

    &__item {
        margin-bottom: 40px;

        .h5 {
            text-decoration: none;
            transition: all 0.25s;
            margin-bottom: 0;

            &:hover {
                text-decoration: none;
                color: $yellow-color;
            }
        }

        &:hover {
            .main-video__image {
                opacity: 0.8;
            }

            .h5 {
                color: $yellow-color;
            }
        }
    }

    &__image {
        position: relative;
        width: 100%;
        padding-bottom: 57%;
        margin-bottom: 20px;
        transition: all 0.25s;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.security {
    &__wrap {
        background-color: $gray-light-color;
        padding: 35px 15px;
        display: block;
        text-decoration: none;
        color: $black-color2;
        transition: all 0.25s;

        &:hover {
            text-decoration: none;
            color: $black-color2;
            background: $yellow-color;
        }
    }

    &__content {
        align-items: center;
    }

    &__col1 {
        justify-content: flex-end;
        align-items: center;

        .h2 {
            max-width: 300px;
            margin-bottom: 0;
            margin-left: 38px;
        }
    }

    &__col2 {
        justify-content: flex-start;
        align-items: center;

        .text1 {
            color: $black-color2;
            max-width: 400px;
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
}

.main-news {
    .h1 {
        margin-bottom: 40px;
    }

    &__wrap {
        align-items: flex-start;
    }

    &__list {
    }

    &__image {
        height: 348px;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__item {
        height: 116px;
        padding: 20px 40px 12px 40px;
        background: $white-color;
        cursor: pointer;
        box-sizing: border-box;
        transition: all 0.25s;

        &:hover {
            background: $gray-light-color;
        }
    }

    &__title {
        margin-bottom: 6px;
    }

    &__date {
        color: $text-light;
    }
}

.ht-help {
    .h1 {
        margin-bottom: 40px;
    }

    &__item {
    }

    &__title {
        margin-bottom: 10px;
        color: $black-main-color;
    }

    &__number {
        width: 68px;
        height: 68px;
        background: $yellow-color;
        border: 5px solid $black-main-color;
        box-sizing: border-box;
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 48px;
        line-height: 38px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 5px;
    }

    &__text {
        color: $black-color2;
    }
}

.request {
    &__block {
        border: 8px solid $yellow-color;
        box-sizing: border-box;
        padding: 50px 0;
    }

    &__form {
        max-width: 460px;

        .btn {
            width: 100%;
        }
    }

    &__info {
        align-items: flex-start;
        justify-content: center;

        &--text {
            max-width: 300px;
            margin-left: 30px;
        }

        .h2 {
            margin-bottom: 10px;
        }

        .text3 {
            color: $text-light;
            margin-bottom: 0;
        }
    }
}

.support-fond {
    background-color: $gray-light-color;
    padding: 50px 0 80px 0;

    .h1 {
        margin-bottom: 30px;
    }

    &__block {
        background-color: $white-color;
        padding: 45px 33px 35px 50px;
    }

    &__video {
        width: 490px;
        position: relative;
        padding-bottom: calc(490px * 0.56);
        overflow: hidden;

        iframe {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;

        .tab-content {
            width: 512px;
        }

        .filter-tab {
            margin-bottom: 20px;
        }

        .text3 {
            margin-bottom: 20px;
        }
    }

    &__slider {
        width: 490px;
        flex-shrink: 0;
    }

    &__sum {
        border-bottom: 1px solid #D9DEE8;
        margin-bottom: 30px;
    }

    &__person-info {
        .btn-main {
            margin-bottom: 12px;
        }
    }

    &__sum--item {
        height: 48px;
        border: 1px solid #D9DEE8;
        box-sizing: border-box;
        text-align: center;
        width: calc(100% / 6);
        flex-shrink: 0;
        cursor: pointer;
        border-right: none;
        padding: 14px 0;
        @extend %text3;
        color: $black-main-color;
        border-bottom: none;
        transition: all 0.25s;
        font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;

        span {
            font-size: 13px;
        }

        &:nth-child(6n) {
            border-right: 1px solid #D9DEE8;
        }

        &.active {
            border-color: $yellow-color;
            background-color: $yellow-color;

            &:hover {
                background-color: $yellow-color;
            }
        }

        &:hover {
            background-color: $gray-light-color;
        }
    }

    &__sum--input {
        flex-grow: 2;
        border-right: 1px solid #D9DEE8;
        padding: 0;

        input {
            height: 46px;
            width: 100%;
            border: none;
            text-align: center;
            @extend %text3;
            color: $black-main-color;

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }

            &::placeholder {
                color: $text-light;
            }
        }
    }

    &__command {
        padding-top: 80px;

        .h2 {
            margin-bottom: 15px;
        }

        .link-line {
            margin-top: auto;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: -39px;
        }

        &-item {
            margin-bottom: 39px;
            width: 110px;
            height: 110px;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &:hover {
                .support-fond__command-info {
                    opacity: 1;
                }

                .support-fond__command-name {
                    bottom: 10px;
                }
            }
        }

        &-info {
            background: none;
            position: absolute;
            bottom: 0;
            padding: 0;
            margin: 0;
            height: auto;
            text-align: center;
            width: 100%;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #808080;
            height: 100%;
            opacity: 0;
            overflow: hidden;
            background-color: rgba(253,221,49,0.85);
            transition: all 0.2s ease;
        }

        &-name {
            transition: all 0.2s ease;
            transition-delay: 0.1s;
            color: $black-main-color;
            position: absolute;
            padding: 0 5px;
            width: 100%;
            bottom: -100px;
        }
    }

    &__slider {
        .swiper-slide {
            position: relative;
            height: 320px;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .swiper-pagination {
            bottom: 20px;
            @extend %text3;
            color: $white-color;
        }

        .swiper-button-next, .swiper-button-prev {
            color: $white-color;
            transition: all 0.25s;

            &:hover, &:focus, &:active {
                color: $yellow-color;
            }

            &:after {
                font-size: 38px;
            }
        }
    }

    &__info {
        border: 1px solid $text-light2;
        box-sizing: border-box;
        padding: 30px;
    }

    &__qr {
        justify-content: space-between;
        align-items: flex-start;

        &-code {
            width: 175px;
            height: 175px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .text3 {
            max-width: 195px;
            color: $black-color2;
        }
    }

    &__info--table {
        font-family: 'FuturaBookС', 'FuturaBook', 'FuturaBookC-Italic', sans-serif;

        .col1 {
            width: 150px;
            flex-shrink: 0;
            font-size: 18px;
            line-height: 32px;
            color: $text-light;
        }

        .col2 {
            font-size: 18px;
            line-height: 32px;
            color: $black-color2
        }
    }
}

.tabs-support {
    display: flex;
    align-items: flex-start;
    border: none;
    margin-bottom: 40px;
    width: 530px;

    .nav-link {
        border-radius: 0;
        border: none;
        @extend %text2;
        position: relative;
        color: $black-main-color !important;
        padding: 0;
        margin-right: 28px;

        &:last-child {
            margin-right: 0;
        }

        &:after {
            content: '';
            display: none;
            height: 0;
            width: 100%;
            border-bottom: 2px solid $black-main-color;
            position: absolute;
            bottom: -8px;
            left: 0;
            transition: all 0.25s;
        }

        &:hover {
            &:after {
                display: block;
                border-color: $text-light2;
            }
        }

        &.active {
            &:after {
                display: block;
            }

            &:hover {
                &:after {
                    border-bottom: 2px solid $black-main-color;
                }
            }
        }
    }
}

@keyframes banner {
    from   {
        height: 115%;
        width: 115%;
        top: -5%;
        left: -5%;
        opacity: 0;
    }
    to {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 1;
    }
}
